<div class="main publicity">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Na Mídia</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-bg">
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://revistagalileu.globo.com/Tecnologia/noticia/2020/04/cientistas-brasileiros-desenvolvem-simulador-de-disseminacao-da-covid-19.html" target="_blank">
                                    <p class="publicity-title">Revista Galileu <i class="fas fa-external-link-alt"></i></p> 
                                </a>
                                <p>
                                    Cientistas brasileiros desenvolvem simulador de disseminação da Covid-19
                                </p>
                            </li>
                            <li>
                                <a href="https://noticias.uol.com.br/colunas/leonardo-sakamoto/2020/04/01/sao-paulo-pode-passar-por-novos-confinamentos-mostra-simulador-de-covid-19.html" target="_blank">
                                    <p class="publicity-title">Coluna Leonardo Sakamoto <i class="fas fa-external-link-alt"></i></p>
                                </a>
                                <p>
                                    Brasil pode passar por ondas de confinamentos aponta simulador de Covid-19
                                </p>
                            </li>
                            <li>
                                <a href="https://diplomatique.org.br/simulacoes-indicam-que-confinamento-deve-ser-maximo/" target="_blank">
                                    <p class="publicity-title">Le monde Diplomatique Brasil <i class="fas fa-external-link-alt"></i></p>
                                </a>
                                <p>Simulações indicam que confinamento deve ser máximo</p>
                            </li>
                            <li>
                                
                                <p class="publicity-title">Mídia Ninja | <a href="https://www.instagram.com/p/B-fcjP_hbii/" target="_blank"><i class="fab fa-instagram-square"></i></a> | <a href="https://www.facebook.com/MidiaNINJA/photos/a.164308700393950/1810914195733384" target="_blank"><i class="fab fa-facebook-square"></i></a></p>
                                <p>
                                    VIVA A CIÊNCIA! Enquanto Bolsonaro espalha mentiras e corta recursos para pesquisadores, a academia se debruça em novos estudos sobre coronavírus
                                </p>
                            </li>
                            <li>
                                <a href="https://radiobandeirantes.band.uol.com.br/programas/5e9240d28525f5fc2faf06a2/5a4562d9fadeb628046b1f02" target="_blank">
                                    <p class="publicity-title">"Você é Curioso?" <i class="fas fa-external-link-alt"></i></p>
                                </a>
                                <p>
                                    Participação no programa da Rádio Bandeirantes "Você é Curioso?" em 11/04/2020
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

