<div class="main publicity">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Na Mídia</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-bg">
                        
                        <div class="list-group">
                            
                            <a href="https://revistagalileu.globo.com/Tecnologia/noticia/2020/04/cientistas-brasileiros-desenvolvem-simulador-de-disseminacao-da-covid-19.html" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 publicity-title">Revista Galileu</h5>
                                    <small>07/04/2020</small>
                                </div>
                                <p class="mb-1">
                                    Cientistas brasileiros desenvolvem simulador de disseminação da Covid-19
                                </p>
                            </a>
                            <a href="https://noticias.uol.com.br/colunas/leonardo-sakamoto/2020/04/01/sao-paulo-pode-passar-por-novos-confinamentos-mostra-simulador-de-covid-19.html" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 publicity-title">Coluna Leonardo Sakamoto</h5>
                                    <small>01/04/2020</small>
                                </div>
                                <p class="mb-1">
                                    Brasil pode passar por ondas de confinamentos aponta simulador de Covid-19
                                </p>
                            </a>
                            

                            <a href="https://diplomatique.org.br/simulacoes-indicam-que-confinamento-deve-ser-maximo/" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 publicity-title">Le monde Diplomatique Brasil</h5>
                                    <small>01/04/2020</small>
                                </div>
                                <p class="mb-1">
                                    Simulações indicam que confinamento deve ser máximo
                                </p>
                            </a>
                            
                            <a target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 publicity-title"> Mídia Ninja </h5>
                                    <small>03/04/2020</small>
                                </div>
                                <p class="mb-1">
                                    VIVA A CIÊNCIA! Enquanto Bolsonaro espalha mentiras e corta recursos para pesquisadores, a academia se debruça em novos estudos sobre coronavírus
                                    <br>
                                    <a href="https://www.instagram.com/p/B-fcjP_hbii/" target="_blank"><i class="fab fa-instagram-square"></i></a> | 
                                    <a href="https://www.facebook.com/MidiaNINJA/photos/a.164308700393950/1810914195733384" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                </p>
                            </a>

                            <a href="https://radiobandeirantes.band.uol.com.br/programas/5e9240d28525f5fc2faf06a2/5a4562d9fadeb628046b1f02" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 publicity-title"> "Você é Curioso?" </h5>
                                    <small>11/04/2020</small>
                                </div>
                                <p class="mb-1">
                                    Participação no programa da Rádio Bandeirantes "Você é Curioso?"
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

