<div class="article-note">
  
  <pdf-viewer [src]="src"
  [show-all]="false"
  [page]="page"
  (after-load-complete)="afterLoadComplete($event)">
</pdf-viewer>
<hr>
<div *ngIf="isLoaded" class="control-pdf-buttons">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn pdf-button" (click)="prevPage()" [disabled]="page === 1">Anterior</button>
    <button type="button" class="btn pdf-button" (click)="nextPage()" [disabled]="page === totalPages">Próximo</button>
  </div>
  <p class="text-center"><span>{{ page }}</span> / <span>{{ totalPages }}</span></p>
  
</div>
</div>