<div class="main howtoact">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Como Agir</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h3 class="text-center">Do Bairro ao Palácio do Planalto: Medidas a Serem Tomadas no Combate ao Coronavírus</h3>
                        <p>
                            As medidas eficazes para combater a disseminação da Covid-19 são conhecidas: isolamento social, lockdown, testes em massa, uso de máscaras. Mas a profunda desigualdade social e econômica do Brasil torna a tarefa ainda mais complexa.
                        </p>
                        <p>
                            O desafio de conter a doença, minimizando sua mortalidade, exige medidas integradas, com a cooperação de todas as esferas de poder, movimentos sociais, iniciativa privada e a população. Na ausência dessa coordenação, não restará alternativa senão o fechamento forçado e radical de muitas cidades: o chamado lockdown.
                        </p>
                        <p>
                            Por isso, propomos uma série de medidas essenciais e urgentes, para evitar uma catástrofe sem precedentes na história recente do Brasil. O país caminha para se tornar o caso mais grave, no mundo, de resposta à Covid-19.
                        </p>
                        <p>
                            O avanço do esforço urgente de reação à doença esbarra em sérios entraves. As recomendações com base científica têm sido alvo do descrédito de um dos atores cuja atuação seria mais necessária: o governo federal. A reiterada defesa de um isolamento exclusivo de idosos e outros grupos de risco, o chamado isolamento vertical, ignora a amplitude das pessoas em grupo de risco no país. A insistência na reabertura precoce de negócios e a ausência de plano organizado de isolamento comprometem a capacidade do Brasil para evitar os piores cenários possíveis da pandemia no país.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>