<div class="main howtoact">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Como Agir</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h3 class="text-center">Do Bairro ao Palácio do Planalto: Medidas a Serem Tomadas no Combate ao Coronavírus</h3>
                        <p>
                            As medidas eficazes para combater a disseminação da Covid-19 são conhecidas: isolamento social, lockdown, testes em massa, uso de máscaras. Mas a profunda desigualdade social e econômica do Brasil torna a tarefa ainda mais complexa.
                        </p>
                        <p>
                            O desafio de conter a doença, minimizando sua mortalidade, exige medidas integradas, com a cooperação de todas as esferas de poder, movimentos sociais, iniciativa privada e a população. Na ausência dessa coordenação, não restará alternativa senão o fechamento forçado e radical de muitas cidades: o chamado lockdown.
                        </p>
                        <p>
                            Por isso, propomos uma série de medidas essenciais e urgentes, para evitar uma catástrofe sem precedentes na história recente do Brasil. O país caminha para se tornar o caso mais grave, no mundo, de resposta à Covid-19.
                        </p>
                        <p>
                            O avanço do esforço urgente de reação à doença esbarra em sérios entraves. As recomendações com base científica têm sido alvo do descrédito de um dos atores cuja atuação seria mais necessária: o governo federal. A reiterada defesa de um isolamento exclusivo de idosos e outros grupos de risco, o chamado isolamento vertical, ignora a amplitude das pessoas em grupo de risco no país. A insistência na reabertura precoce de negócios e a ausência de plano organizado de isolamento comprometem a capacidade do Brasil para evitar os piores cenários possíveis da pandemia no país.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>
                            Movimentos sociais devem organizar-se de modo a pressionar por múltiplas ações: 
                        </h4>
                        
                        <ol type="A">
                            <li>Saúde:</li>
                            <ul>
                                <li><a href="https://www.saude.gov.br/noticias/agencia-saude/46540-saude-anuncia-orientacoes-para-evitar-a-disseminacao-do-coronavirus" target="_blank">Disseminar hábitos de prevenção</a> por meio de agentes e zeladores locais;</li>
                                <li>Lavar as mãos, uso de máscaras, isolamento social;</li>
                            </ul>
                            <li>Economia:</li>
                            <ul>
                                <li>Identificação de domicílios vulneráveis, com dificuldade ou impedimento no recebimento do auxílio emergencial;</li>
                                <li>Criar <a href="https://folhasantista.com.br/noticias/ativismo/forum-de-economia-solidaria-da-bs-lanca-manifesto-com-acoes-de-combate-ao-coronavirus/" target="_blank">redes de economia solidárias</a> locais com apoio do poder público;</li>
                                <li><a href="https://www.politize.com.br/economia-solidaria-moeda-social-caso-de-palmas/" target="_blank">Moedas sociais impulsionadas pelos municípios;</a></li>
                                <li><a href="https://www.institutobancopalmas.org/o-que-e-um-banco-comunitario" target="_blank">Bancos comunitários para apoio financeiro da comunidade;</a></li>
                            </ul>
                            <li>Serviços:</li>
                            <ul>
                                <li>Distribuição de insumos (<a href="http://site.sabesp.com.br/site/imprensa/noticias-detalhe.aspx?secaoId=65&id=8296" target="_blank">caixas d'água, água</a>, <a href="https://www.camara.leg.br/noticias/651260-projeto-preve-distribuicao-gratuita-de-alcool-em-gel-e-mascaras-para-familias-de-baixa-renda/" target="_blank">sabão, álcool gel</a>);</li>
                                <li>Organizar <a href="https://ny.curbed.com/2020/5/1/21243843/new-york-rent-strike-renters-tenants-landlords-rights" target="_blank">greve de aluguéis como nos EUA;</a></li>
                                <li><a href="https://theintercept.com/2020/04/30/coronavirus-nova-york-greve-aluguel/" target="_blank">Suspensão de aluguéis;</a></li>
                                <li><a href="https://maricainfo.com/2019/05/13/marica-idosos-poderao-ficar-isentos-do-pagamento-do-iptu.html" target="_blank">Suspensão de IPTU;</a></li>
                            </ul>
                            <li>Organização política em geral:</li>
                            <ul>
                                <li>Articular-se e pressionar o poder público (vídeos, abaixo assinados, manifestos, reuniões com autoridades);</li>
                                <li>Pressionar pelo pagamento correto da renda básica emergencial; </li>
                                <li>Mapear pessoas que não receberam a renda básica;</li>
                                <li>Demandar manutenção da renda básica como direito;</li>
                            </ul>
                        </ol>
                        
                        <h4>Municípios:</h4>
                        <ol type="A">
                            <li>Saúde:</li>
                            <ul>
                                <li><a href="https://www.brussels.be/masks" target="_blank">Adquirir e distribuir insumos para prevenção do COVID-19;</a></li>
                                <li>Mobilizar <a href="https://www.statnews.com/2020/04/13/coronavirus-health-agencies-need-army-of-contact-tracers/" target="_blank">agentes comunitários de saúde para monitorar populações vulneráveis e traçar focos de contágio;</a></li>
                                <li><a href="https://pesquisa.bvsalud.org/controlecancer/resource/pt/lis-LISBR1.1-47088" target="_blank">Delinear estratégias e ações para garantir a saúde mental</a> da população durante o confinamento; </li>
                                <li>Proibição de tratamentos inseguros aos pacientes;</li>
                                <li>Adquirir e distribuir EPI adequado para agentes funerários;</li>
                                <li>Prevenir contaminação ambiental no processo de sepultamento;</li>
                                <li>Implementar fila única para sepultamentos/cremações;</li>
                            </ul>
                            <li>Economia:</li>
                            <ul>
                                <li>Planejar e implementar mecanismos de moeda social, como a <a href="https://www.marica.rj.gov.br/2020/03/21/marica-tera-pacote-social-e-economico-contra-efeitos-do-coronavirus-de-r-80-milhoes/" target="_blank">Mumbuca de Maricá-RJl</a>;</li>
                                <li>Tornar compras públicas de merenda <a href="https://www.marica.rj.gov.br/2020/04/05/prefeitura-divulga-cronograma-para-entrega-de-cestas-basicas/" target="_blank">cestas de alimentos para distribuição aos alunos da rede pública;</a></li>
                                <li>Criar bancos locais de alimentos, como em Itanhaém-SP;</li>
                                <li><a href="http://www.setre.ba.gov.br/2020/04/2132/Covid-19-Setre-mobiliza-economia-solidaria-para-producao-de-EPIs.html" target="_blank">Apoiar as redes de Economia Solidária para produção de EPIs,</a> alimentos e geração de empregos;</li>
                                <li>Criar <a href="https://www.pgcedc.com/covid-business-fund-2020" target="_blank">fundo de apoio financeiro para pequenos negócios;</a></li>
                                <li>Criar <a href="https://www.calfund.org/covid-19/" target="_blank">fundo de apoio a pessoas em vulnerabilidade;</a></li>
                            </ul>
                            <li>Educação</li>
                            <ul>
                                <li>Expansão da rede <a href="https://campustechnology.com/articles/2020/04/30/where-to-get-free-wifi-for-students-during-covid19.aspx" target="_blank">wifi livre</a> para o acompanhamento das aulas pelos alunos da rede pública;</li>
                                <li>Distribuição de computadores/tablets para estudantes, como em <a href="https://www.cbsnews.com/news/mcps-laptops-students-coronavirus-lockdown/" target="_blank">muitas cidades dos EUA</a>;</li>
                            </ul>
                            <li>Serviços</li>
                            <ul>
                                <li>Garantir o <a href="https://www.saopaulo.sp.gov.br/spnoticias/governo-do-estado-vai-distribuir-1-200-caixas-dagua-em-paraisopolis/" target="_blank">abastecimento de água potável </a>;</li>
                                <li>Garantir moradia com <a href="https://neweconomics.org/2020/05/suspending-rents" target="_blank">suspensão de aluguéis</a> e <a href="https://maricainfo.com/2019/05/13/marica-idosos-poderao-ficar-isentos-do-pagamento-do-iptu.html" target="_blank">IPTU;</a></li>
                                <li><a href="https://noticias.r7.com/sao-paulo/garantia-no-fornecimento-de-gas-e-ampliada-no-interior-de-sao-paulo-26032020" target="_blank">Garantir fornecimento de gás;</a></li>
                                <li>Garantir fornecimento de <a href="https://www.hypeness.com.br/2020/03/covid-19-corte-de-energia-eletrica-por-falta-de-pagamento-e-suspenso-pela-aneel/" target="_blank">eletricidade</a>, internet;</li>
                                <li>Remoção de populações em risco <a href="https://sf.curbed.com/2020/4/15/21221245/san-francisco-covid-coronavirus-hotels-homeless-sf" target="_blank">para hotéis, a exemplo de São Francisco (EUA);</a></li>
                                <li>Garantir o <a href="https://www.cbsnews.com/news/coronavirus-pandemic-food-banks-us-unemployment-new-orleans/" target="_blank">fornecimento de alimentos para a população;</a></li>
                            </ul>
                            <li>Isolamento Social</li>
                            <ul>
                                <li>Definir e aplicar restrições de mobilidade;</li>
                                <li>Definir e aplicar orientação e monitoramento para isolamento social;</li>
                                <li>Considerar passe livre universal nos transportes coletivos municipais para trabalhadores essenciais (médicos, enfermeiros, etc).</li>
                            </ul>
                        </ol>
                        
                        <h4>Estados:</h4>
                        <ol type="A">
                            <li>Saúde:</li>
                            <ul>
                                <li>Implementar fila única para leitos de UTI entre rede privada e pública;</li>
                                <li>Subsidiar o desenvolvimento de<a target="_blank" href="https://www.aljazeera.com/news/2020/04/senegal-trials-1-covid-19-test-kit-200428132313740.html&amp;sa=D&amp;ust=1589817939652000"> testes rápidos e de baixo custo</a>;</li>
                                <li>Mobilizar<a target="_blank" href="https://www.statnews.com/2020/04/13/coronavirus-health-agencies-need-army-of-contact-tracers/&amp;sa=D&amp;ust=1589817939652000"> agentes comunitários de saúde para monitorar populações vulneráveis e traçar focos de contágio</a>;</li>
                                <li><a target="_blank" href="https://pesquisa.bvsalud.org/controlecancer/resource/pt/lis-LISBR1.1-47088&amp;sa=D&amp;ust=1589817939653000">Delinear estratégias e ações para garantir a saúde mental</a>;da população durante o confinamento;</li>
                                <li><a target="_blank" href="https://media.ford.com/content/fordmedia/fna/us/en/news/2020/04/13/ford-to-produce-respirators-masks-covid-19.html&amp;sa=D&amp;ust=1589817939653000">Subsidiar o desenvolvimento de respiradores;</a></li>
                                <li>Adquirir e distribuir EPI adequado para agentes funerários;</li>
                                <li>Prevenir contaminação ambiental no processo de sepultamento;</li>
                                <li>Implementar fila única para sepultamentos/cremações;</li>
                            </ul>
                            <li>Economia:</li>
                            <ul>
                                <li>Promover incentivos fiscais para produção de EPIs de uso hospital, e de uso comunitário para indústria têxtil; </li>
                                <li>Promover incentivos fiscais para a produção de respiradores e equipamentos hospitalares open source </li>
                                <li><a target="_blank" href="https://www.bbc.com/portuguese/internacional-44020436&amp;sa=D&amp;ust=1589817939654000">Aumentar o baixíssimo imposto sobre herança</a> ( atualmente entre 4% e 8%) </li>
                                <li>Aplicá-lo em progressividade </li>
                                <li>Criar linhas <a target="_blank" href="https://www.es.gov.br/Noticia/covid-19-cartilha-reune-linhas-de-credito-emergencial&amp;sa=D&amp;ust=1589817939655000">de crédito para pequenos e médios negócios</a> </li>
                                <li>Criar políticas <a target="_blank" href="https://qz.com/1840001/work-sharing-is-a-growing-alternative-to-layoffs-amid-covid-19/&amp;sa=D&amp;ust=1589817939655000">de compartilhamento e proteção do emprego;</a> </li>
                                <li>Aumentar a taxação de cigarros </li>
                                <li>Aumentar taxação de alimentos altamente industrializados; </li>
                                <li>Subsidiar produção de alimentos saudáveis (orgânicos) </li>
                            </ul>
                            <li>Educação:</li>
                            <ul>
                                <li>Criação de redes de apoio integrando a estudantes dos municípios;</li>
                                <li>Agentes-tutores para auxiliar e acompanhar no processo de aulas e tarefas;</li>
                                <li>Rever as datas de processos seletivos de ETECs e Universidades Estaduais;</li>
                            </ul>
                            <li>Serviços:</li>
                            <ul>
                                <li>Garantir o <a target="_blank" href="https://www.saopaulo.sp.gov.br/spnoticias/governo-do-estado-vai-distribuir-1-200-caixas-dagua-em-paraisopolis/&amp;sa=D&amp;ust=1589817939656000">abastecimento de água potável</a>; </li>
                                <li>Garantir moradia com  <a target="_blank" href="https://neweconomics.org/2020/05/suspending-rents&amp;sa=D&amp;ust=1589817939657000">suspensão de aluguéis</a> e <a target="_blank" href="https://maricainfo.com/2019/05/13/marica-idosos-poderao-ficar-isentos-do-pagamento-do-iptu.html&amp;sa=D&amp;ust=1589817939657000">IPTU</a>;</li>
                                <li><a target="_blank" href="https://noticias.r7.com/sao-paulo/garantia-no-fornecimento-de-gas-e-ampliada-no-interior-de-sao-paulo-26032020&amp;sa=D&amp;ust=1589817939657000">Garantir fornecimento de gás</a>;</li>
                                <li>Garantir fornecimento de <a target="_blank" href="https://www.hypeness.com.br/2020/03/covid-19-corte-de-energia-eletrica-por-falta-de-pagamento-e-suspenso-pela-aneel/&amp;sa=D&amp;ust=1589817939658000">; eletricidade</a>, internet; </li>
                                <li>Remoção de populações de rua ou em habitação precária <a target="_blank" href="https://sf.curbed.com/2020/4/15/21221245/san-francisco-covid-coronavirus-hotels-homeless-sf&amp;sa=D&amp;ust=1589817939658000">para hotéis, a exemplo de São Francisco (EUA);</a> </li>
                                <li>Garantir o <a target="_blank" href="https://www.cbsnews.com/news/coronavirus-pandemic-food-banks-us-unemployment-new-orleans/&amp;sa=D&amp;ust=1589817939659000">; fornecimento de alimentos para a população;</a> </li>
                            </ul>
                            <li>Isolamento Social:</li>
                            <ul>
                                <li>Definir e aplicar restrições de mobilidade;</li>
                                <li>Definir orientação e monitoramento para isolamento social;</li>
                                <li> Considerar passe livre universal nos transportes coletivos municipais para trabalhadores essenciais (médicos, enfermeiros, etc);</li>
                                <li>Cooperação com municípios para reduzir a circulação interestadual;</li>
                            </ul>
                        </ol>
                        
                        <h4>Governo Federal:</h4>
                        <ol type="A">
                            <li>Saúde:</li>
                            <ul>
                                <li>Implementar <a target="_blank" href="https://www.camara.leg.br/noticias/658677-projetos-criam-fila-unica-para-atender-pacientes-com-covid-19-em-utis-publicas-e-privadas/&amp;sa=D&amp;ust=1589817939660000">fila única para leitos de UTI entre rede privada e pública;</a>;</li>
                                <li>Subsidiar o desenvolvimento de testes rápidos;</li>
                                <li>Subsidiar o desenvolvimento de respiradores e aparelhos hospitalares open source desenvolvidos por Instituições de Ensino e Pesquisa Brasileiras;</li>
                                <li><a target="_blank" href="https://www.forbes.com/sites/terinaallen/2020/05/17/will-the-senate-include-stimulus-checks-and-hazard-pay-in-next-relief-package/&amp;sa=D&amp;ust=1589817939661000">Aumentar/agregar os adicionais de insalubridade e periculosidade aos salários de trabalhadores essenciais;</a></li>
                            </ul>
                            <li>Economia:</li>
                            <ul>
                                <li>Fortalecer política de renda básica emergencial;</li>
                                <li>Eficiência no pagamento deste benefício;</li>
                                <li>Fortalecer e criar políticas <a target="_blank" href="https://qz.com/1840001/work-sharing-is-a-growing-alternative-to-layoffs-amid-covid-19/&amp;sa=D&amp;ust=1589817939661000">de compartilhamento e proteção do emprego;</a></li>
                                <li>Conversão de auxílios de parlamentares como: moradia, transporte, paletó, entre outros para subsidiar ação do COVID-19; </li>
                                <li>Quebra de <a target="_blank" href="https://www.uol.com.br/vivabem/noticias/redacao/2020/05/16/covid-19-lideres-mundiais-pedem-medicamentos-e-vacinas-sem-patentes.htm&amp;sa=D&amp;ust=1589817939662000">patentes de medicamentos;</a></li>
                                <li>Quebra de <a target="_blank" href="https://uspirg.org/news/usp/advocates-say-remove-barriers-fixing-ventilators-other-covid-19-related-medical-equipment&amp;sa=D&amp;ust=1589817939662000">patentes de respiradores defendendo o direito ao conserto;</a></li>
                                <li>Fortalecer linhas de crédito para empresas com função social importante na crise;</li>
                                <li>Decretar conversão industrial para produção e distribuição de EPIs, respiradores e aparelhos hospitalares;</li>
                            </ul>
                            
                            <p><strong>Como criar espaço no orçamento para as medidas acima e outras ações de combate aos impactos da COVID-19?</strong></p>
                            
                            <ul>
                                <li>Criar alíquotas maiores e <a target="_blank" href="https://www12.senado.leg.br/noticias/materias/2019/02/15/projeto-da-bancada-do-pt-isenta-quem-ganha-ate-r-4.990-do-ir&amp;sa=D&amp;ust=1589817939663000">mais progressivas de imposto de renda</a>;</li>
                                <li>Implantar <a target="_blank" href="https://noticias.uol.com.br/ultimas-noticias/afp/2020/04/13/imposto-sobre-grandes-fortunas-na-argentina-para-combater-a-covid-19.htm&amp;sa=D&amp;ust=1589817939664000">o imposto sobre grandes fortunas</a>;</li>
                                <li>Implantar imposto <a target="_blank" href="https://noticias.uol.com.br/colunas/leonardo-sakamoto/2020/03/23/coronavirus-taxar-super-rico-trara-r-272-bi-contra-crise-dizem-entidades.htm&amp;sa=D&amp;ust=1589817939664000">sobre lucros e dividendos;</a>;</li>
                                <li>No caminho para a renda mínima permanente, implantar o <a target="_blank" href="https://www.scielo.br/scielo.php?script%3Dsci_arttext%26pid%3DS0101-41612008000300006&amp;sa=D&amp;ust=1589817939665000">imposto de renda negativo</a>;para os mais pobres, onde o governo os remunera ao invés de tributá-los;</li>
                            </ul>
                            
                            <li>Educação</li>
                            <ul>
                                <li> <a href="https://agenciabrasil.ebc.com.br/educacao/noticia/2020-05/secundaristas-fazem-campanha-por-adiamento-do-enem&sa=D&ust=1589817939665000">Adiamento do ENEM</a>;</li>
                                <li>Equidade para os processos seletivos de vestibulares e do ENEM;</li>
                                <li>Computadores e acesso à internet para todos alunos de universidades e escolas públicas;</li>
                            </ul>
                            
                            <li>Serviços:</li>
                            <ul>
                                <li><a target="_blank" href="http://conselho.saude.gov.br/16cns/assets/images/apresentacao/sobre_doc_orientador.pdf&amp;sa=D&amp;ust=1589817939666000">Tirar o SUS da sua situação de subfinanciamento;</a></li>
                                <li>Acesso universal e gratuito à futura vacina/tratamento;</li>
                                <li><a target="_blank" href="https://www.rollcall.com/2020/05/05/democrats-to-push-for-25-billion-for-postal-service-oversight-chairwoman-says/&amp;sa=D&amp;ust=1589817939666000">Programa de fortalecimento dos correios</a>;</li>
                                <li>Investimento em testes;</li>
                            </ul>
                            
                            <li>Isolamento Social</li>
                            <ul>
                                <li>Reconhecer a importância da quarentena/lockdown;</li>
                                <li>Garantir que estados tenham condição de manter isolamento.</li>
                            </ul>
                            <li>Violência Doméstica e Segurança:</li>
                            <ul>
                                <li><a target="_blank" href="https://www1.folha.uol.com.br/mundo/2020/05/liberacao-de-presos-devido-a-covid-19-ameaca-lua-de-mel-de-fernandez-e-argentina.shtml">Prover as condições de transferir detentos que cometeram delitos leves ou não violentos para prisão domiciliar;</a></li>
                                <li>Serviço de plantão para denúncia de violência doméstica;</li>
                            </ul>
                            <li>Cooperação Internacional:</li>
                            <ul>
                                <li>Rever <a target="_blank" href="https://www1.folha.uol.com.br/mundo/2020/04/brasil-segue-eua-e-deixa-de-apoiar-medida-da-onu-de-cooperacao-contra-coronavirus.shtml&amp;sa=D&amp;ust=1589817939667000">posição antagônica à resolução da ONU</a>;por multilateralismo e acesso equitativo a remédios e tratamento;</li>
                                <li>Construir em cooperação sistema de segurança sanitária que monitore vírus que possam se tornar pandemias;</li>
                                <li>Impor fortes regulamentações ao <a target="_blank" href="https://editoraelefante.com.br/o-nosso-modo-de-vida-virulento/&amp;sa=D&amp;ust=1589817939668000">extrativismo e ao agronegócio que são comprovadamente setores críticos que &nbsp;aumentam o potencial de pandemias</a></li>
                            </ul>
                        </ol>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>