<div class="main statistics">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Estatísticas</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <p>
                            Nesta página, apresentamos as estatísticas e os estudos de caso sobre a vulnerabilidade à Covid-19 e as medidas de 
                            proteção às populações expostas. Empregamos o IVC19 <a href="https://github.com/zecopol/zecopol/raw/master/Artigo_IndiceVulnerabilidadeCOVID19_18052020.pdf" target="_blank">(clique aqui para conhecer)</a> para compreender as curvas de infecção, 
                            morte e mortalidade, segundo as diferentes escalas de vulnerabilidade.
                        </p>
                    </div>
                    <ngb-accordion [closeOthers]="true" activeIds="static-1">
                        <ngb-panel id="static-1">
                            <ng-template ngbPanelTitle>
                                <h4>Estudo de Caso: Rio de Janeiro</h4>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    Com as bases do Data Rio (2020) e do Censo (IBGE, 2010), foi possível desenvolver uma análise da distribuição de contaminados e mortos pela COVID-19 no município do Rio de Janeiro para cada uma das escalas do IVC19.
                                </p>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <img src="./assets/img/statistics/statistics_riodejaneiro_image1.png" class="mx-auto d-block img-fluid">
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <img src="./assets/img/statistics/statistics_riodejaneiro_image2.png" class="mx-auto d-block img-fluid">
                                    </div>
                                </div>
                                <p>
                                    Analisando os números de contaminados e mortos para cada faixa do índice, é possível observar que, no primeiro momento, o vírus atingiu o grupo menos vulnerável, que se concentra nos bairros onde o poder aquisitivo é maior. Em seguida, avançou para as regiões mais vulneráveis do Rio, onde vive considerável parcela dos trabalhadores essenciais. 
                                </p>
                                <img src="./assets/img/statistics/statistics_riodejaneiro_image3.png" class="mx-auto d-block img-fluid">
                                
                                <p>
                                    A incidência de contaminados e mortos é mais baixa nas faixas de média e baixa vulnerabilidade, ao passo que a taxa de mortalidade da parcela vulnerável e muito vulnerável à doença é mais alta. Há uma diferença significativa entre índices de mortalidade de bairros cuja a vulnerabilidade foi considerada baixa e os índices dos bairros considerados vulneráveis ou muito vulneráveis.
                                </p>
                                <p>
                                    Podemos presumir que mais testes são feitos entre a população menos vulnerável, mas isso não se repete para o grupo mais vulnerável. Esta diferença pode provocar uma elevada subnotificações nessas localidades. A diferença significativa na taxa de mortalidade entre os grupos também permite inferir que os pacientes mais vulneráveis à doença são encaminhados ao pronto-atendimento em um estágio mais grave da doença, ou ainda, são testados apenas após virem a óbito.
                                </p>
                                <h4>Escala de Vulnerabilidade aplicada ao IVC19</h4>
                                <p>
                                    Para definir as faixas de vulnerabilidade, aplicamos as mesmas variáveis, do IVC19 de zonas urbanas, aos 162 bairros do Rio de Janeiro. Com isso, Grumari (0,28), Mangueira (0,30) e Rocinha (0,31), são os três bairros com menor índice e foram classificados como muito vulneráveis ao Covid-19. Gamboa (0,61) e Santa Cruz (0,64) foram classificados como vulneráveis, Bangu (0,75) e São Conrado como médio e, por fim, Copacabana (0,88) e Ipanema (0,89) são pouco vulneráveis.
                                    
                                    Com isso, chegamos às 4 faixas de vulnerabilidade detalhados nas tabelas e histograma a seguir (tabela 2 e 3).
                                </p>
                                <div class="table-responsive-sm">
                                    <table class="table table-bordered table-striped table2 float-left">
                                        <caption>Tabela 2: Faixas semafóricas do IVC</caption>
                                        <thead>
                                            <tr>
                                                <th>Pontuação</th>
                                                <th>Indicativo</th>
                                                <th>Cor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>acima de 0.8</td>
                                                <td>Pouco Vulnerável</td>
                                                <td style="background-color: rgb(117, 249,76); color: black;">Verde</td>
                                            </tr>
                                            <tr>
                                                <td>0.65 a 0.8</td>
                                                <td>Vulnerabilidade Média</td>
                                                <td style="background-color: rgb(255, 253,85); color: black;">Amarela</td>
                                            </tr>
                                            <tr>
                                                <td>0.5 a 0.65</td>
                                                <td>Vulnerável</td>
                                                <td style="background-color: rgb(242, 157,57); color: black;">Laranja</td>
                                            </tr>
                                            <tr>
                                                <td>abaixo de 0.5</td>
                                                <td>Muito Vulnerável</td>
                                                <td style="background-color: rgb(188, 38,26); color: black;">Vermelho</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <img src="./assets/img/statistics/statistics_riodejaneiro_image4.png" class="mx-auto d-block img-fluid">
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-2">
                            <ng-template ngbPanelTitle>
                                <h4>Estudo de Caso: Fortaleza</h4>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>Para analisar a distribuição dos casos e óbitos de Covid-19 no município de Fortaleza e seus respectivos bairros, foram utilizados os dados do Governo do Estado do Ceará (<a href="https://indicadores.integrasus.saude.ce.gov.br/api/casos-coronavirus/export-csv" target="_blank">https://indicadores.integrasus.saude.ce.gov.br/api/casos-coronavirus/export-csv</a>). Foram utilizados também a classificação dos bairros de Fortaleza por IDH e o Censo Demográfico do município, ambos realizados pelo IBGE em 2010 (<a href="https://cidades.ibge.gov.br/brasil/ce/fortaleza/" target="_blank">https://cidades.ibge.gov.br/brasil/ce/fortaleza/</a>). </p>
                                <p>A primeira análise, consiste na distribuição de casos e óbitos em cada uma das faixas do IDH, considerando como baixo IDH menor ou igual a 0,599 e médio/alto, acima de 0,599. </p>
                                <img src="./assets/img/statistics/statistics_fortaleza_001.jpg" class="mx-auto d-block img-fluid">

                            </ng-template> 
                        </ngb-panel> 
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</div>