<div class="main articles">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Artigos</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="list-group">
                        <a routerLink="article1" routerLinkActive="active" class="list-group-item list-group-item-action">
                            Simulando a evolução da transmissão comunitária do coronavírus por meio do Modelo M D Corona
                        </a>
                        <a routerLink="article2" routerLinkActive="active" class="list-group-item list-group-item-action">
                            Press Release
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-9">
                        <p [class.d-none]="isOpen()">Escolha o artigo a ser lido na sua lateral.</p>
                        <router-outlet></router-outlet>
                    </div>                    
                </div>
            </div>
            
        </div>
    </div>
</div>