<div class="main notes">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Notas</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="list-group">
                        <a routerLink="note2" routerLinkActive="active" class="list-group-item list-group-item-action">
                            Nota sobre estudo que prevê data para o fim da Pandemia
                        </a>
                        <a routerLink="note1" routerLinkActive="active" class="list-group-item list-group-item-action">
                            Dados do prefeito de São José dos Campos são questionáveis 
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <p [class.d-none]="isOpen()">Escolha o artigo a ser lido na sua lateral.</p>
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>