<div class="main notes">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Notas</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <a routerLink="note2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nota sobre estudo que prevê data para o fim da Pandemia</h5>
                                <p class="card-text">Nos últimos dias, um site contendo previsões sobre o final da pandemia de Covid-19 tem sido amplamente ...</p>
                            </div>
                        </div>
                    </a>
                    <a routerLink="note1">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Dados do prefeito de São José dos Campos são questionáveis </h5>
                                <p class="card-text">No dia 17 de Abril de 2020, a prefeitura de São José dos Campos, maior cidade de região do Vale do Paraíba no ...</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-md-9">
                    <p [class.d-none]="isOpen()">Escolha a nota a ser lida na sua lateral.</p>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

