<div class="main copacabana">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>copacabana</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
case study copacabana works
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

