.navbar{
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    .logo-cover{
        width: 15vw;
    }
}

.navbar-light .navbar-nav .nav-link:focus{
    // csss aqui 
}

@media only screen and (max-width: 600px) {
    .navbar{
        .logo-cover{
            width: 50vw;
        }
    }
}