<div class="main volunteer">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Voluntários</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="text-justified">
                        <p>Caras e caros discentes,</p>
                        <p>
                            A urgência da pandemia (e suas centenas de milhares de vítimas) está mobilizando a comunidade científica mundial para trabalhar por soluções técnico-científicas no combate à Covid-19.
                        </p>
                        <p>
                            Sensíveis à essa urgência, criamos rapidamente no início de Março um grupo de ação interdisciplinar que conta com diversos pesquisadores da UFABC. Um dos resultados foi a construção de um simulador de dispersão do vírus. A ferramenta está disponível no link <a href="https://simulacovid.github.io/covid19/" target="_blank">https://simulacovid.github.io/covid19</a>
                            e já teve mais de 30 mil acessos (atualizado em 01/05/2020). 
                            <br>
                            Nossas análises apontam que sob determinadas condições o coronavírus pode perpetuar-se no ambiente, levando a novas ondas de contágio por tempo indeterminado, o que levaria a população a novos períodos de confinamento e a impactos econômicos ainda mais profundos até a criação e popularização de vacinas e outros tratamentos.
                        </p>
                        
                        <p>
                            A partir da experiência do simulador, montamos um projeto de pesquisa que foi aprovado pela UFABC para desenvolver as potencialidades do simulador e produzir artigos acadêmicos e de opinião para a mídia (sobre desigualdades nos impactos da pandemia, diferentes cenários de saída da quarentena, comparação com outras 
                            <br>modelagens disponíveis etc) com o objetivo de fortalecer as melhores práticas sociais para enfrentar a pandemia.
                        </p>                    
                        
                        <p>
                            Agora com o grupo mais estruturado, gostaríamos de convidar você discente (de qualquer universidade) para participar conosco no projeto, a princípio, como voluntária(o).
                        </p>
                        
                        <p>
                            Os perfis de discentes requeridos por hora são os seguintes:
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <strong>Programador:</strong> 3 discentes de mestrado, formadas(os) ou no final da graduação para auxiliar na programação. 
                                <br>
                                Objetivo: especificação e desenvolvimento do código do simulador, estudo do código e comparações com outros modelos.
                                métodos qualitativos, desenvolvimento aberto e colaborativo de modelos computacionais e software científico).
                            </li>
                            <li>
                                <strong>Análise estatística:</strong> 3 discentes de mestrado, formadas(os) ou no final da graduação para auxiliar na análise estatística. Objetivo: especificação e desenvolvimento de procedimentos de análise estatística dos dados
                                provenientes do simulador. Auxílio à modelagem de cenários de simulação. Espera-se que a pessoa tenha conhecimentos na área de estatística e domine a linguagem de programação R. É desejável que esteja desenvolvendo projetos de pesquisa em temas 
                                afins (análise de dados científicos, modelos computacionais e software científico).
                            </li>
                            <li>
                                <strong>Desenvolvedor web front end:</strong> 
                                1 discente (qualquer nível) para desenvolver a página da web do grupo de pesquisa. Objetivo: desenvolver, manter e atualizar a página com informações, imagens, gráficos, tabelas, textos etc. Espera-se que a pessoa tenha conhecimentos em programação na linguagem HTML e afins.
                            </li>
                            <li>
                                <strong>Análise de conjuntura:</strong> 3 discentes da graduação (qualquer ano à partir do 2º ano) para auxiliar nas análises de conjuntura. Objetivo: apoio na análise interdisciplinar dos resultados das simulações, apoio à publicização dos resultados da pesquisa. É desejável que tenha experiência com pesquisa acadêmica, ou faça parte de grupo de pesquisa interdisciplinar.
                            </li>
                        </ul>
                        <br>
                        <p>
                            Quem tiver interesse deve enviar e-mail contendo a vaga de interesse, (apenas) um parágrafo sobre o porquê quer participar do projeto e um CV que demonstre as habilidades e formações requeridas. Favor enviar o e-mail para: mosaicovid19@gmail.com

                        </p>
                        <p>
                            p.s.: não se motive por isso, mas o projeto está concorrendo a algumas verbas de pesquisa e o trabalho pode vir a ser contemplado com uma bolsa (até 4 meses) no futuro próximo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

