<div class="main howtoact">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Parceiros</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>Parceiros</h4>
                        <p>Grupos Parceiros: COVID-19 BRASIL <a href="https://ciis.fmrp.usp.br/covid19/" target="_blank">https://ciis.fmrp.usp.br/covid19/</a></p>
                        <hr>
                        <h4>Apoio:</h4>
                        <p>Fundação Tide Setubal : <a href="https://fundacaotidesetubal.org.br/" target="_blank">https://fundacaotidesetubal.org.br/</a></p>
                        <p>Universidade Federal do ABC: <a href="http://www.ufabc.edu.br/" target="_blank">http://www.ufabc.edu.br/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>