<div class="main howtoact">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Parceiros</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>Parceiros</h4>
                        <p>COVID-19 BRASIL <a href="https://ciis.fmrp.usp.br/covid19/" target="_blank">https://ciis.fmrp.usp.br/covid19/</a></p>
                        <hr>
                        <h4>Apoio:</h4>
                        <p>Fundação Tide Setubal : <a href="https://fundacaotidesetubal.org.br/" target="_blank">https://fundacaotidesetubal.org.br/</a></p>
                        <p>Universidade Federal do ABC: <a href="http://www.ufabc.edu.br/" target="_blank">http://www.ufabc.edu.br/</a></p>
                        <hr>
                        <h4>Prêmios</h4>
                        <ul class="list-unstyled">
                            <p>Escola Nacional de Administração Pública (ENAP): concurso Desafios Covid-19 - 4º lugar pessoa jurídica - <a href="https://repositorio.enap.gov.br/bitstream/1/4890/6/SEI_ENAP%20-%200377189.pdf" target="_blank">Link</a></p>
                            <p>Banco Nacional de Desenvolvimento Econômico e Social (BNDES): concurso Desafios Covid-19 - 4º lugar pessoa jurídica - <a href="https://www.bndes.gov.br/wps/portal/site/home/imprensa/noticias/conteudo/bndes-apoia-premiacao-voltada-ao-enfrentamento-da-covid19/!ut/p/z1/vZRNU9swEIZ_Sw8-arS2JX8cTXBiiCHTQoD4wmxsmajFkklEoP31VTLpDNCJPW2a-mBL8u6zq1erpQW9o4XCtXxAI7XCRzufFcF9Ho_TjE0gB37NIDn1QzYNUxhHHr3dGsCeJwFa7PdnQ6A3tKBFqUxrFnQ2V5VY3Uu1MtI8l9sMHFjoRjggm3Yp1AodUNrIUuLKgVIrI54r7cDWkWCrJRJr10gsUZO1fjRYIbFDoWrrbrCxL03sWqnXsnLjTfS2lBWd1TWv_bkfEhACCeMcSITcJSWLXIE-ogj83W475Ci6xej038hR9KldvDeZnPkpJNkg5ywdu6PY3xl0HUjfkXwwGJ3mHiQ5H8Lw8-UoTTw6s7sI96dpZVpL8UKnSi8bW0NXfyhyBj0RJt6BEXrw_Lj48Kh4xg7En_cVoe0J3vJicPFgsWgWRKpa07u_v4KWJ78-PRWJbQSbG_1qdrT_2wk6ZWVDd7-sYQAxlFVFApcBYYAeiXlQkbBGZJ79G5Tz3_BXJ77Fh2c8H8WQeeE_xr_P_iY4Lp4fF3-oOOd9Le_gEqRtM20i_7sk375kP04uyWgwj16u62b3uY3M2-mv1eTTT4Ba9-w!/dz/d5/L2dBISEvZ0FBIS9nQSEh/" target="_blank">Link</a></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>