<div class="main aboutus">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3 i18n>About</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="./assets/img/bandphoto.jpg" class="about-image  float-left">
                    
                    <h3 class="about-title"> A little bit about us</h3>
                    <p class="about-description">Lorem ipsum dolor sit amet <span class="about-nameband">Band Name</span> bandname consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis <span class="about-nameband">Band Name</span> eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? <span class="about-nameband">Band Name</span> Dicta, quibusdam eum quis eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis <span class="about-nameband">Band Name</span> eaque commodi numquam esse.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, id repellat, nobis cumque illum est repudiandae voluptatibus quia
                        omnis pariatur, voluptatem fuga? Dicta, quibusdam eum quis eaque commodi numquam esse.
                    </p>
                    <blockquote class="blockquote">
                        <p class="mb-0">Quote something important from the band / author</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            
        </div>
    </div>
</div>
