<div class="article-note">
    <h4>Disseminação do Covid-19 pode nos levar a ciclos de surto e confinamento por 
        longo prazo, apontam pesquisadores
    </h4>
    <em>Pesquisadores brasileiros desenvolvem modelo para simular cenários de contágio pelo vírus e 
        reforçam a necessidade de isolamento social como principal medida de controle
    </em>
    <p>
        Um grupo de pesquisadores brasileiros construiu um software que permite a simulação de cenários de 
        evolução da transmissão comunitária do Coronavírus (Covid-19). As análises iniciais apontam que sob 
        determinadas condições, como comportamento das pessoas, reintrodução do vírus no ambiente, imunidade ou 
        mutação das cepas do vírus, o coronavírus pode perpetuar-se, levando a surtos de epidemia recorrentes 
        por tempo indeterminado, o que levaria a população a novos períodos de confinamento e a impactos econômicos 
        ainda mais profundos até a criação e popularização de vacinas e outros tratamentos.
    </p>
    <p>
        "Todos os casos simulados reforçam a eficácia da estratégia de confinamento máximo, extremo, como a melhor forma 
        de achatar a curva de dispersão do vírus, mas a eficácia mais garantida depende de uma alta porcentagem de 
        isolamento de aproximadamente 90% das pessoas durante os surtos de contaminação", aponta <strong>José Paulo Guedes</strong>, 
        um dos autores, Economista e professor da UFABC. Junto com ele, assinam a pesquisa e o código do 
        simulador <strong>Patrícia Camargo Magalhães</strong> (Física, Pós-Doutoranda na Universidade de Bristol) 
        e <strong>Carlos da Silva dos Santos</strong> (Cientista da Computação, professor da UFABC).
    </p>
    <p>
        A ferramenta está disponível on-line (<a href="https://zecopol.github.io/MD-Corona/" target="_blank">https://zecopol.github.io/MD-Corona/</a>) e pode ser abastecida 
        livremente por usuários para simulações, usando parâmetros como densidade populacional, imunidade, capacidade e janela de transmissão, entre outros. 
        O software foi adaptado de um modelo desenvolvido em 1998 que simula a disseminação do vírus da gripe, agora 
        reprogramado com as condições conhecidas do novo "super vírus".
    </p>
    <p> 
        <figure class="figure">
            <img src="../../../assets/img/simulador_image.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption text-center">Tela do Simulador</figcaption>
          </figure>
    </p>
    <p>
        O draft do artigo acadêmico apresentado pelo grupo de pesquisadores avaliou diferentes cenários, sendo que o mais pessimista deles <strong>considera 
        a inexistência de confinamento e isolamento</strong>: neste caso enfrentaríamos uma recorrência de surtos de contaminação social (crescimento seguidos de baixas) 
        em curtos períodos de tempo e a convivência com o coronavírus por tempo indeterminado. Segundo Guedes, como um agente contaminado é reintroduzido a cada três 
        meses no ambiente, mesmo que tenhamos alta imunidade ao vírus, o comportamento cíclico de contágio só cessaria caso fosse estabelecido isolamento de 
        aproximadamente 90% da população durante os surtos. "Além do fator social evidente, podemos dizer que a previsão atual de quedas drásticas 
        nos PIBs dos países desenvolvidos, algo que pode chegar até -18%, será ainda pior em um cenário cíclico", comenta o pesquisador.
    </p>
    <p>
        Segundo a análise dos acadêmicos a saída da quarentena e do isolamento nos países também será um fator decisivo, pois fazer isso 
        antecipadamente pode reiniciar um processo agudo de contaminação.
    </p>
    <p>
        Os pesquisadores desenvolveram a plataforma de maneira independente e agora buscam financiamento de agências de fomento à 
        pesquisa para ampliar as variáveis e envolver especialistas de outras áreas. "Deixamos o software aberto para uso público porque as 
        simulações servem tanto para fins educacionais e de pesquisa, como podem ser utilizadas, ainda que de forma cautelosa, como ferramenta para 
        a tomada de decisões", explica Guedes.
    </p>
    <p>
        Acesse o modelo online: <a href="https://zecopol.github.io/MD-Corona/" target="_blank">https://zecopol.github.io/MD-Corona/</a>
    </p>
    <p>
        Leia o estudo completo aqui: <a href="https://zecopol.github.io/MD-Corona/Artigo2.html" target="_blank">https://zecopol.github.io/MD-Corona/Artigo2.html</a>
    </p>
    
</div>