<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container">
    
    <a class="navbar-brand" [routerLink]="['/dash']">
    <img src="./assets/images/simula_logo.png" class="logo-cover" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" (click)="toggleNavbar()" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/howtouse']">Como usar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/articles']">Artigos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/researchers']">Pesquisadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/volunteers']">Voluntários(as)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/media']">Na Mídia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notes']">Notas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>