<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']"><img class="logo-web" src="./assets/img/main_logo.png" alt=""></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Simulador</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                          <a class="dropdown-item" [routerLink]="['/dash']">Simulador</a>
                          <a class="dropdown-item" [routerLink]="['/howtouse']">Como Usar</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/howtoact']">Como Agir?</a>
                </li>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block dropdown">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Estudos</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                          <a class="dropdown-item" [routerLink]="['/copacabana']">Copacabana</a>
                        </div>
                      </div>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/statistics']">Estatísticas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/publications']">Publicações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/publicity']">Na Mídia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/partners']">Parceiros</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
