<div class="main howtouse">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Como usar</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h3>Como usar o MD Corona?</h3>
                        <p>
                            O botão <strong>RESETAR</strong> recomeça os gráficos e distribui aleatoriamente o número de pessoas (definida pela densidade populacional). Todas as pessoas, exceto uma, são consideradas saudáveis e suscetíveis ao vírus e definidas com a cor verde. O programa fixa 1 pessoa inicialmente infectada que é definida pela cor vermelha. Todas as pessoas são distribuídas com idades aleatoriamente. 
                        </p>
                        <p>
                            O botão <strong>INICIAR/PARAR</strong> inicia a simulação e os gráficos e também para a simulação.
                        </p>
                    </div>
                    <div class="card">
                        <h3>Como ele funciona</h3>
                        <p>O simulador é iniciado com 3 parâmetros: </p>
                        
                        <ul>
                            <li>Densidade Populacional</li>
                            <li>IDH (Índice de Desenvolvimento Humano) ou Índice de Vulnerabilidade ao Covid-19 (IVC)</li>
                            <li>Letalidade</li>
                        </ul>
                        
                        <p>A densidade populacional (mínimo 3.400 hab/km² e máximo 34.000 hab/km²) é convertida pelo modelo em número de pessoas que estarão distribuídas aleatoriamente no ambiente. </p>
                        
                        <p>
                            Entre essas pessoas uma está infectada desde o início. O IDH/ICV tem 4 escalas (baixo, médio, médio-alto, alto) e é uma medida da vulnerabilidade do local. Os valores devem ser consultados na tabela. O modelo traduz cada elemento da escala em uma probabilidade efetiva de transmissão pessoa-a-pessoa, definida pela calibração com a cidade de Nova York como sendo: baixo = 61%, médio = 59%, médio-alto = 57%, e alto = 55%. 
                        </p>
                        
                        <p>
                            Por fim, a letalidade é traduzida em chance de recuperação, que possui dois níveis: alto=99% e baixo=98%. Sendo o primeiro definido pela calibração.
                        </p>
                        
                        <p>
                            No modelo a escala de tempo é em dias e cada rodada equivale a um dia. As pessoas podem mover-se aleatoriamente nesse mundo (o quadrado preto) estando em um dos três estados:
                        </p>
                        <ul>
                            <li>saudável mas suscetível a ser contaminado pelo vírus (verde)</li>
                            <li>infectadas e transmitindo o vírus (vermelho)</li>
                            <li>saudáveis e imunes (cinza)</li>
                        </ul>
                        
                        <p>
                            O parâmetro <strong>CONFINAMENTO</strong> permite parar uma porcentagem das pessoas no ambiente, o que reduz a velocidade da transmissão. Ele é dinâmico, ou seja, pode ser alterado durante a simulação sem a necessidade de resetar o simulador, como ocorre quando modificamos os demais parâmetros. 
                        </p>
                        <p>
                            No modelo as pessoas morrem de infecção ou de idade (75 anos). Quando a população cai abaixo da "capacidade máxima" do ambiente (fixa em 1200 neste modelo), pessoas saudáveis podem produzir descendentes saudáveis (mas suscetíveis à contaminação). 
                            Outro fator importante é a introdução, a cada 90 dias, de um agente infectado pelo vírus, o que acabou por tornar o ambiente do modelo aberto e mais condizente com a realidade
                            
                        </p>
                        <p>
                            Duração da janela de transmissão. Quanto tempo uma pessoa fica infectada antes de se recuperar ou morrer? Esse período de tempo é essencialmente a janela de oportunidade do vírus para transmissão para novos hospedeiros. Neste modelo, a duração da janela de transmissão é fixa em 18 dias.
                        </p>
                        <p>
                            Quatro monitores (quadros amarelos) de saída mostram a porcentagem da população infectada, a porcentagem de pessoas imunes ao vírus, a porcentagem de mortos e o número de dias que se passaram. O gráfico mostra (em suas respectivas cores) o número de pessoas infectadas e imunes. 
                        </p>
                    </div>
                    <div class="card">
                        <h3>O que é isso?</h3>
                        <p>A construção desse modelo foi inspirada pelo sucesso da divulgação do estudo desenvolvido por Harry Stevens e publicado na página do jornal Washington Post dia 14 de Março de 2020 (<a href="https://www.washingtonpost.com/graphics/2020/world/corona-simulator/" target="_blank">https://www.washingtonpost.com/graphics/2020/world/corona-simulator/</a>) onde o autor explora diferentes cenarios de atenuação e supressão social para conter o avanço do coronavírus. </p>
                        <p>Para a construção do Modelo de Dispersão do Coronavírus (MD Corona), modificamos o modelo original Vírus (Wilensky, 1998) presente na biblioteca do software livre NetLogo (Wilensky, 1999). O modelo original foi inspirado pelo artigo de Yorke et al (1979) em que biólogos ecologistas sugeriram um número de fatores que poderiam influenciar a sobrevivência de um vírus com transmissão direta entre uma população. As modificações específicas que fazem parte do MD Corona serão destacadas abaixo.</p>
                        
                        <h3>
                            Como Citar
                        </h3>
                        <p>
                            Se você mencionar este modelo ou o software NetLogo numa publicação, pedimos para que inclua as citações abaixo:
                        </p>
                        <p>Para o modelo Virus:</p>
                        <ul>
                            <li>
                                Wilensky, U. (1998).  NetLogo Virus model.  http://ccl.northwestern.edu/netlogo/models/Virus.  Center for Connected Learning and Computer-Based Modeling, Northwestern University, Evanston, IL.
                            </li>
                        </ul>
                        <p>
                            Para o modelo MD Corona:
                        </p>
                        <ul>
                            <li>Guedes Pinto, José Paulo; Magalhães, Patrícia; Santos Carlos Silva. (2020). Modelo de Dispersão Comunitária Coronavírus (MD Corona), Universidade Federal do ABC, São Bernardo do Campo, Brasil.</li>
                        </ul>
                        <p>
                            Por favor cite o software NetLogo como:
                        </p>
                        <ul>
                            <li>
                                Wilensky, U. (1999). NetLogo. http://ccl.northwestern.edu/netlogo/. Center for Connected Learning and Computer-Based Modeling, Northwestern University, Evanston, IL.
                            </li>
                        </ul>
                    </div>
                    <div class="card">
                        <h3>Copyright and License</h3>
                        <p>Copyright 2020 José Paulo Guedes Pinto, Patrícia Camargo Magalhães, Carlos da Silva dos Santos </p>
                        <p>![CC BY-NC-SA 3.0](http://ccl.northwestern.edu/images/creativecommons/byncsa.png)</p>
                        
                        <p>Copyright 1998 Uri Wilensky.</p>
                        
                        <p>![CC BY-NC-SA 3.0](http://ccl.northwestern.edu/images/creativecommons/byncsa.png)</p>
                        
                        <p>Esse trabalho está sob a licença Creative Commons Attribution-NonCommercial-ShareAlike 3.0 License. Para ver uma cópia dessa licença visite: https://creativecommons.org/licenses/by-nc-sa/3.0/ or send a letter to Creative Commons, 559 Nathan Abbott Way, Stanford, California 94305, USA.</p>
                        
                        <p>Licenças comercial também estão disponíveis. Para indagar sobre isso, favor contactar Uri Wilensky at uri@northwestern.edu.</p>
                        
                        <p>O modelo MD Corona foi criado para gerar dados para o working paper "Simulando a evolução da transmissão comunitária do coronavírus através do Modelo M D Corona." de autoria de José Paulo Guedes Pinto, Patrícia Magalhães e Carlos da Silva Santos. 2020.</p>
                        
                        <p>This model was created as part of the project: CONNECTED MATHEMATICS: MAKING SENSE OF COMPLEX PHENOMENA THROUGH BUILDING OBJECT-BASED PARALLEL MODELS (OBPML). The project gratefully acknowledges the support of the National Science Foundation (Applications of Advanced Technologies Program) -- grant numbers RED #9552950 and REC #9632612.</p>
                        
                        <p>This model was converted to NetLogo as part of the projects: PARTICIPATORY SIMULATIONS: NETWORK-BASED DESIGN FOR SYSTEMS LEARNING IN CLASSROOMS and/or INTEGRATED SIMULATION AND MODELING ENVIRONMENT. The project gratefully acknowledges the support of the National Science Foundation (REPP & ROLE programs) -- grant numbers REC #9814682 and REC-0126227. Converted from StarLogoT to NetLogo, 2001. (1998-2020)</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

