<div class="main dash">
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Simulador</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card">
                        <div class="simulador embed-responsive embed-responsive-4by3">
                            <iframe src="https://zecopol.github.io/zecopol/" 
                            scrolling="yes"></iframe>
                            <!-- sandbox="allow-same-origin allow-scripts" / *ngIf="isMobile == false" -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card table-ivcovid">
                        <h4>Rio de Janeiro</h4>
                        <div class="table-responsive-sm table-responsive-md">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Bairro</th>
                                        <th>IVCovid</th>
                                        <th>IDH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dados of ivc_rj; let i = index">
                                        <td>{{dados.bairro}}</td>
                                        <td>{{dados.ClassificacaoIVCovid}}</td>
                                        <td>{{dados.ClassificacaoIDH}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>