<div class="main dash">
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Simulador</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card">
                        <div class="simulador embed-responsive embed-responsive-4by3">
                            <iframe src="https://zecopol.github.io/zecopol/" 
                            scrolling="yes"></iframe>
                            <!-- sandbox="allow-same-origin allow-scripts" / *ngIf="isMobile == false" -->
                        </div>
                    </div>
                    <!-- <div *ngIf="isMobile == true" class="mobile-dash">
                        <div class="card">
                            <p>Desculpe mas o simulador ainda não está preparado para a versão mobile, favor usar um computador.</p>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card table-ivcovid">
                        <h4>Rio de Janeiro</h4>
                        <div class="table-responsive-sm table-responsive-md">
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Bairro</th>
                                        <th>Densidade <br>(hab./km²)</th>
                                        <th>IVC <br> IVCovid</th>
                                        <th>IDH</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Abolição</td>
                                        <td>18,425 </td>
                                        <td>0.86 </td>
                                        <td>0.838 </td>
                                    </tr>
                                    <tr>
                                        <td>Acari</td>
                                        <td>17,033 </td>
                                        <td>0.37 </td>
                                        <td>0.657 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Água Santa</td>
                                        <td>3,609 </td>
                                        <td>0.73 </td>
                                        <td>0.666 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Alto da Boa Vista</td>
                                        <td>297 </td>
                                        <td>0.48 </td>
                                        <td>0.954 </td>
                                    </tr>
                                    <tr>
                                        <td>Anchieta</td>
                                        <td>12,806 </td>
                                        <td>0.69 </td>
                                        <td>0.760 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Andaraí</td>
                                        <td>17,408 </td>
                                        <td>0.71 </td>
                                        <td>0.856 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Anil</td>
                                        <td>6,905 </td>
                                        <td>0.76 </td>
                                        <td>0.903 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Bancários</td>
                                        <td>12,793 </td>
                                        <td>0.64 </td>
                                        <td>0.842 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Bangu</td>
                                        <td>5,977 </td>
                                        <td>0.75 </td>
                                        <td>0.794 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Barra da Tijuca</td>
                                        <td>2,823 </td>
                                        <td>0.86 </td>
                                        <td>0.941 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Barra de Guaratiba</td>
                                        <td>379 </td>
                                        <td>0.51 </td>
                                        <td>0.803 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Barros Filho</td>
                                        <td>8,150 </td>
                                        <td>0.40 </td>
                                        <td>0.697 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Benfica</td>
                                        <td>14,444 </td>
                                        <td>0.57 </td>
                                        <td>0.802 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Bento Ribeiro</td>
                                        <td>14,387 </td>
                                        <td>0.81 </td>
                                        <td>0.846 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Bonsucesso</td>
                                        <td>8,506 </td>
                                        <td>0.77 </td>
                                        <td>0.791 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Botafogo</td>
                                        <td>17,273 </td>
                                        <td>0.83 </td>
                                        <td>0.952 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Brás de Pina</td>
                                        <td>16,814 </td>
                                        <td>0.82 </td>
                                        <td>0.651 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cachambi</td>
                                        <td>18,850 </td>
                                        <td>0.84 </td>
                                        <td>0.838 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cacuia</td>
                                        <td>5,324 </td>
                                        <td>0.76 </td>
                                        <td>0.880 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Caju</td>
                                        <td>3,829 </td>
                                        <td>0.43 </td>
                                        <td>0.778 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Camorim</td>
                                        <td>222 </td>
                                        <td>0.53 </td>
                                        <td>0.775 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Campinho</td>
                                        <td>10,316 </td>
                                        <td>0.75 </td>
                                        <td>0.864 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Campo dos Afonsos</td>
                                        <td>420 </td>
                                        <td>0.91 </td>
                                        <td>0.889 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Campo Grande</td>
                                        <td>3,144 </td>
                                        <td>0.73 </td>
                                        <td>0.809 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cascadura</td>
                                        <td>12,137 </td>
                                        <td>0.68 </td>
                                        <td>0.754 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Catete</td>
                                        <td>35,325 </td>
                                        <td>0.83 </td>
                                        <td>0.870 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Catumbi</td>
                                        <td>23,275 </td>
                                        <td>0.49 </td>
                                        <td>0.672 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cavalcanti</td>
                                        <td>8,389 </td>
                                        <td>0.73 </td>
                                        <td>0.750 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Centro</td>
                                        <td>5,448 </td>
                                        <td>0.81 </td>
                                        <td>0.861 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cidade de Deus</td>
                                        <td>28,684 </td>
                                        <td>0.68 </td>
                                        <td>0.670 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cidade Nova</td>
                                        <td>5,847 </td>
                                        <td>0.78 </td>
                                        <td>0.900 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cidade Universitária</td>
                                        <td>332 </td>
                                        <td>0.64 </td>
                                        <td>0.763 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cocotá</td>
                                        <td>9,951 </td>
                                        <td>0.84 </td>
                                        <td>0.842 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Coelho Neto</td>
                                        <td>12,907 </td>
                                        <td>0.70 </td>
                                        <td>0.782 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Colégio</td>
                                        <td>12,934 </td>
                                        <td>0.61 </td>
                                        <td>0.783 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Complexo do Alemão</td>
                                        <td>23,352 </td>
                                        <td>0.39 </td>
                                        <td>0.656 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Copacabana</td>
                                        <td>35,698 </td>
                                        <td>0.88 </td>
                                        <td>0.935 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cordovil</td>
                                        <td>11,720 </td>
                                        <td>0.77 </td>
                                        <td>0.653 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cosme Velho</td>
                                        <td>8,042 </td>
                                        <td>0.61 </td>
                                        <td>0.946 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Cosmos</td>
                                        <td>6,838 </td>
                                        <td>0.72 </td>
                                        <td>0.741 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Costa Barros</td>
                                        <td>15,672 </td>
                                        <td>0.52 </td>
                                        <td>0.766 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Curicica</td>
                                        <td>9,339 </td>
                                        <td>0.75 </td>
                                        <td>0.814 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Del Castilho</td>
                                        <td>10,833 </td>
                                        <td>0.69 </td>
                                        <td>0.808 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Deodoro</td>
                                        <td>2,336 </td>
                                        <td>0.65 </td>
                                        <td>0.763 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Encantado</td>
                                        <td>14,169 </td>
                                        <td>0.80 </td>
                                        <td>0.838 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Engenheiro Leal</td>
                                        <td>8,631 </td>
                                        <td>0.68 </td>
                                        <td>0.750 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Engenho da Rainha</td>
                                        <td>11,978 </td>
                                        <td>0.77 </td>
                                        <td>0.648 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Engenho de Dentro</td>
                                        <td>11,616 </td>
                                        <td>0.80 </td>
                                        <td>0.876 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Engenho Novo</td>
                                        <td>15,945 </td>
                                        <td>0.72 </td>
                                        <td>0.858 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Estácio</td>
                                        <td>17,533 </td>
                                        <td>0.59 </td>
                                        <td>0.802 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Flamengo</td>
                                        <td>30,398 </td>
                                        <td>0.88 </td>
                                        <td>0.959 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Freguesia (Ilha do Governador)</td>
                                        <td>4,792 </td>
                                        <td>0.68 </td>
                                        <td>0.883 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Freguesia (Jacarepaguá)</td>
                                        <td>6,827 </td>
                                        <td>0.78 </td>
                                        <td>0.911 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Galeão</td>
                                        <td>1,212 </td>
                                        <td>0.50 </td>
                                        <td>0.880 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Gamboa</td>
                                        <td>11,778 </td>
                                        <td>0.61 </td>
                                        <td>0.677 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Gardênia Azul</td>
                                        <td>14,329 </td>
                                        <td>0.67 </td>
                                        <td>0.736 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Gávea</td>
                                        <td>6,204 </td>
                                        <td>0.82 </td>
                                        <td>0.946 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Gericinó</td>
                                        <td>5,985 </td>
                                        <td>0.65 </td>
                                        <td>0.688 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Glória</td>
                                        <td>8,474 </td>
                                        <td>0.86 </td>
                                        <td>0.907 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Grajaú</td>
                                        <td>6,738 </td>
                                        <td>0.79 </td>
                                        <td>0.922 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Grumari</td>
                                        <td>17 </td>
                                        <td>0.28 </td>
                                        <td>0.687 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Guadalupe</td>
                                        <td>12,341 </td>
                                        <td>0.77 </td>
                                        <td>0.807 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Guaratiba</td>
                                        <td>789 </td>
                                        <td>0.49 </td>
                                        <td>0.717 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Higienópolis</td>
                                        <td>13,593 </td>
                                        <td>0.78 </td>
                                        <td>0.846 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Honório Gurgel</td>
                                        <td>15,994 </td>
                                        <td>0.69 </td>
                                        <td>0.787 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Humaitá</td>
                                        <td>12,599 </td>
                                        <td>0.86 </td>
                                        <td>0.954 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Inhaúma</td>
                                        <td>13,112 </td>
                                        <td>0.74 </td>
                                        <td>0.789 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Inhoaíba</td>
                                        <td>7,800 </td>
                                        <td>0.71 </td>
                                        <td>0.766 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Ipanema</td>
                                        <td>13,856 </td>
                                        <td>0.89 </td>
                                        <td>0.937 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Irajá</td>
                                        <td>12,889 </td>
                                        <td>0.82 </td>
                                        <td>0.808 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Itanhangá</td>
                                        <td>2,911 </td>
                                        <td>0.42 </td>
                                        <td>0.948 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jacaré</td>
                                        <td>11,009 </td>
                                        <td>0.69 </td>
                                        <td>0.666 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jacarepaguá</td>
                                        <td>2,076 </td>
                                        <td>0.54 </td>
                                        <td>0.637 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jacarezinho</td>
                                        <td>40,089 </td>
                                        <td>0.32 </td>
                                        <td>0.670 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jardim América</td>
                                        <td>12,779 </td>
                                        <td>0.79 </td>
                                        <td>0.651 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jardim Botânico</td>
                                        <td>6,697 </td>
                                        <td>0.86 </td>
                                        <td>0.907 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jardim Carioca</td>
                                        <td>15,328 </td>
                                        <td>0.76 </td>
                                        <td>0.763 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jardim Guanabara</td>
                                        <td>10,048 </td>
                                        <td>0.85 </td>
                                        <td>0.926 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Jardim Sulacap</td>
                                        <td>1,660 </td>
                                        <td>0.78 </td>
                                        <td>0.889 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Joá</td>
                                        <td>484 </td>
                                        <td>0.80 </td>
                                        <td>0.923 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Lagoa</td>
                                        <td>4,148 </td>
                                        <td>0.89 </td>
                                        <td>0.953 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Laranjeiras</td>
                                        <td>18,269 </td>
                                        <td>0.86 </td>
                                        <td>0.954 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Leblon</td>
                                        <td>21,385 </td>
                                        <td>0.89 </td>
                                        <td>0.944 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Leme</td>
                                        <td>15,144 </td>
                                        <td>0.83 </td>
                                        <td>0.946 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Lins de Vasconcelos</td>
                                        <td>14,044 </td>
                                        <td>0.70 </td>
                                        <td>0.666 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Madureira</td>
                                        <td>13,229 </td>
                                        <td>0.69 </td>
                                        <td>0.808 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Magalhães Bastos</td>
                                        <td>12,364 </td>
                                        <td>0.71 </td>
                                        <td>0.678 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Mangueira</td>
                                        <td>22,346 </td>
                                        <td>0.30 </td>
                                        <td>0.677 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Manguinhos</td>
                                        <td>13,810 </td>
                                        <td>0.39 </td>
                                        <td>0.792 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Maracanã</td>
                                        <td>15,148 </td>
                                        <td>0.86 </td>
                                        <td>0.937 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Maré</td>
                                        <td>30,400 </td>
                                        <td>0.52 </td>
                                        <td>0.686 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Marechal Hermes</td>
                                        <td>12,367 </td>
                                        <td>0.67 </td>
                                        <td>0.798 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Maria da Graça</td>
                                        <td>9,663 </td>
                                        <td>0.86 </td>
                                        <td>0.761 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Méier</td>
                                        <td>20,166 </td>
                                        <td>0.86 </td>
                                        <td>0.892 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Moneró</td>
                                        <td>12,441 </td>
                                        <td>0.87 </td>
                                        <td>0.880 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Olaria</td>
                                        <td>15,587 </td>
                                        <td>0.78 </td>
                                        <td>0.762 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Oswaldo Cruz</td>
                                        <td>16,435 </td>
                                        <td>0.78 </td>
                                        <td>0.790 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Paciência</td>
                                        <td>3,451 </td>
                                        <td>0.67 </td>
                                        <td>0.759 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Padre Miguel</td>
                                        <td>13,200 </td>
                                        <td>0.78 </td>
                                        <td>0.794 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Paquetá</td>
                                        <td>1,970 </td>
                                        <td>0.69 </td>
                                        <td>0.789 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Parada de Lucas</td>
                                        <td>10,884 </td>
                                        <td>0.58 </td>
                                        <td>0.651 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Parque Anchieta</td>
                                        <td>6,711 </td>
                                        <td>0.85 </td>
                                        <td>0.708 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Parque Columbia</td>
                                        <td>10,205 </td>
                                        <td>0.61 </td>
                                        <td>0.766 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Pavuna</td>
                                        <td>11,713 </td>
                                        <td>0.65 </td>
                                        <td>0.647 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Pechincha</td>
                                        <td>12,261 </td>
                                        <td>0.79 </td>
                                        <td>0.885 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Pedra de Guaratiba</td>
                                        <td>2,609 </td>
                                        <td>0.67 </td>
                                        <td>0.761 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Penha</td>
                                        <td>13,539 </td>
                                        <td>0.72 </td>
                                        <td>0.758 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Penha Circular</td>
                                        <td>10,342 </td>
                                        <td>0.76 </td>
                                        <td>0.730 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Piedade</td>
                                        <td>11,159 </td>
                                        <td>0.78 </td>
                                        <td>0.761 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Pilares</td>
                                        <td>14,839 </td>
                                        <td>0.79 </td>
                                        <td>0.643 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Pitangueiras</td>
                                        <td>19,459 </td>
                                        <td>0.59 </td>
                                        <td>0.830 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Portuguesa</td>
                                        <td>20,108 </td>
                                        <td>0.77 </td>
                                        <td>0.883 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Praça da Bandeira</td>
                                        <td>12,032 </td>
                                        <td>0.87 </td>
                                        <td>0.912 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Praça Seca</td>
                                        <td>9,869 </td>
                                        <td>0.66 </td>
                                        <td>0.880 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Praia da Bandeira</td>
                                        <td>15,677 </td>
                                        <td>0.83 </td>
                                        <td>0.842 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Quintino Bocaiúva</td>
                                        <td>7,212 </td>
                                        <td>0.78 </td>
                                        <td>0.768 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Ramos</td>
                                        <td>14,602 </td>
                                        <td>0.81 </td>
                                        <td>0.837 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Realengo</td>
                                        <td>6,913 </td>
                                        <td>0.77 </td>
                                        <td>0.670 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Recreio dos Bandeirantes</td>
                                        <td>2,683 </td>
                                        <td>0.72 </td>
                                        <td>0.869 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Riachuelo</td>
                                        <td>13,633 </td>
                                        <td>0.85 </td>
                                        <td>0.946 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Ribeira</td>
                                        <td>4,093 </td>
                                        <td>0.88 </td>
                                        <td>0.880 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Ricardo de Albuquerque</td>
                                        <td>13,846 </td>
                                        <td>0.78 </td>
                                        <td>0.669 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Rio Comprido</td>
                                        <td>13,093 </td>
                                        <td>0.63 </td>
                                        <td>0.802 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Rocha</td>
                                        <td>6,683 </td>
                                        <td>0.83 </td>
                                        <td>0.858 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Rocha Miranda</td>
                                        <td>15,307 </td>
                                        <td>0.82 </td>
                                        <td>0.754 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Rocinha</td>
                                        <td>48,258 </td>
                                        <td>0.31 </td>
                                        <td>0.662 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Sampaio</td>
                                        <td>12,319 </td>
                                        <td>0.69 </td>
                                        <td>0.761 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Santa Cruz</td>
                                        <td>1,738 </td>
                                        <td>0.64 </td>
                                        <td>0.861 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Santa Teresa</td>
                                        <td>7,936 </td>
                                        <td>0.65 </td>
                                        <td>0.900 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Santíssimo</td>
                                        <td>4,983 </td>
                                        <td>0.70 </td>
                                        <td>0.814 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Santo Cristo</td>
                                        <td>7,319 </td>
                                        <td>0.73 </td>
                                        <td>0.746 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>São Conrado</td>
                                        <td>1,692 </td>
                                        <td>0.77 </td>
                                        <td>0.959 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>São Cristóvão</td>
                                        <td>6,457 </td>
                                        <td>0.71 </td>
                                        <td>0.708 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>São Francisco Xavier</td>
                                        <td>12,857 </td>
                                        <td>0.69 </td>
                                        <td>0.823 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Saúde</td>
                                        <td>7,556 </td>
                                        <td>0.71 </td>
                                        <td>0.677 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Senador Camará</td>
                                        <td>6,240 </td>
                                        <td>0.70 </td>
                                        <td>0.692 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Senador Vasconcelos</td>
                                        <td>4,750 </td>
                                        <td>0.68 </td>
                                        <td>0.773 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Sepetiba</td>
                                        <td>4,868 </td>
                                        <td>0.61 </td>
                                        <td>0.759 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Tanque</td>
                                        <td>6,799 </td>
                                        <td>0.70 </td>
                                        <td>0.710 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Taquara</td>
                                        <td>7,733 </td>
                                        <td>0.77 </td>
                                        <td>0.859 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Tauá</td>
                                        <td>17,678 </td>
                                        <td>0.62 </td>
                                        <td>0.842 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Tijuca</td>
                                        <td>16,274 </td>
                                        <td>0.78 </td>
                                        <td>0.941 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Todos os Santos</td>
                                        <td>24,338 </td>
                                        <td>0.88 </td>
                                        <td>0.902 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Tomás Coelho</td>
                                        <td>12,976 </td>
                                        <td>0.72 </td>
                                        <td>0.648 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Turiaçu</td>
                                        <td>13,733 </td>
                                        <td>0.67 </td>
                                        <td>0.708 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Urca</td>
                                        <td>3,045 </td>
                                        <td>0.75 </td>
                                        <td>0.952 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vargem Grande</td>
                                        <td>356 </td>
                                        <td>0.43 </td>
                                        <td>0.813 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vargem Pequena</td>
                                        <td>1,887 </td>
                                        <td>0.54 </td>
                                        <td>0.859 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vasco da Gama</td>
                                        <td>10,662 </td>
                                        <td>0.62 </td>
                                        <td>0.778 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vaz Lobo</td>
                                        <td>13,773 </td>
                                        <td>0.73 </td>
                                        <td>0.796 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vicente de Carvalho</td>
                                        <td>13,599 </td>
                                        <td>0.66 </td>
                                        <td>0.652 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vidigal</td>
                                        <td>7,893 </td>
                                        <td>0.42 </td>
                                        <td>0.684 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vigário Geral</td>
                                        <td>12,353 </td>
                                        <td>0.68 </td>
                                        <td>0.762 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vila da Penha</td>
                                        <td>17,737 </td>
                                        <td>0.87 </td>
                                        <td>0.889 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vila Isabel</td>
                                        <td>26,738 </td>
                                        <td>0.75 </td>
                                        <td>0.922 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vila Kosmos</td>
                                        <td>12,028 </td>
                                        <td>0.79 </td>
                                        <td>0.787 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vila Militar</td>
                                        <td>1,226 </td>
                                        <td>0.77 </td>
                                        <td>0.766 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vila Valqueire</td>
                                        <td>7,627 </td>
                                        <td>0.79 </td>
                                        <td>0.874 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Vista Alegre</td>
                                        <td>16,735 </td>
                                        <td>0.88 </td>
                                        <td>0.701 </td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Zumbi</td>
                                        <td>12,513 </td>
                                        <td>0.88 </td>
                                        <td>0.646 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>