<div class="main dash">
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div *ngIf="isMobile == false" class="simulador embed-responsive embed-responsive-4by3">
                        <iframe src="https://zecopol.github.io/zecopol/" 
                        scrolling="no" 
                        sandbox="allow-same-origin allow-scripts"></iframe>
                    </div>
                    <div *ngIf="isMobile == true" class="mobile-dash">
                        <p>Desculpe mas o simulador ainda não está pronta para a versão mobile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>