<div class="main home">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <figure class="figure">
                            <img src="./assets/img/home_foto1.jpg" class="mx-auto d-block img-fluid">
                            <figcaption class="figure-caption text-right">Créditos: Marcelo Rocha</figcaption>
                        </figure>
                        <h4 class="text-center">Pandemia em um país desigual</h4>
                        <p>
                            No país desigual que é o Brasil, uma pandemia como a do Covid-19 não atinge igualmente todas as pessoas, em todos os lugares, de todas as classes sociais. As medidas de resposta ao avanço do vírus devem ser ajustadas às condições de cada Estado, cidade e bairro. É responsabilidade de todos os entes da União entender essas diferenças e planejar o combate à disseminação da doença.
                        </p>
                        <p>
                            O Ação Covid-19 é um grupo interdisciplinar de pesquisadores e professores, que se uniram para entender como a desigualdade afeta a evolução da doença no Brasil. Com esse conhecimento, propomos medidas de proteção das populações, organização do isolamento social e mitigação de seus efeitos sociais e econômicos.
                        </p>
                        <p>
                            Desenvolvemos, a partir dos principais modelos epidemiológicos, um simulador do avanço da epidemia. A ferramenta pode ser usada por todos os brasileiros para calcular como deve se desenrolar a pandemia em seu próprio bairro, ajustada pela densidade demográfica, o Índice de Desenvolvimento Humano (IDH) e a porcentagem de pessoas que respeitam o confinamento. Assim, qualquer pessoa pode estimar como a doença pode afetar seu próprio entorno.
                        </p>
                        <ul class="list-unstyled">
                            <li>
                                <a [routerLink]="['/dash']">Veja o simulador clicando aqui</a>
                            </li>
                            <li>
                                <a href="#">Encontre o IDH de seu bairro na tabela nacional clicando aqui</a>
                            </li>
                            <li>
                                <a [routerLink]="['/aboutus']">Saiba mais sobre o time Ação Covid-19 clicando aqui</a>
                            </li>
                        </ul>
                        <h4 class="text-center">Um caso exemplar: Copacabana</h4>
                        <p>
                            O bairro da Zona Sul carioca é um epicentro das desigualdades sociais e urbanas do Brasil. Seu IDH é de 0,935, um dos mais altos do País. Mas esse desenvolvimento humano é a média entre o que se verifica "no asfalto" e o que se encontra "no morro". Enquanto a rua Cardeal Arcoverde tem um IDH de 0,955 e uma densidade de 15 933 habitantes por quilômetro quadrado, a comunidade do Pavão-Pavãozinho, ali perto, tem IDH de 0,684, considerado mediano, e densidade habitacional de 25 845 habitantes por quilômetro quadrado.
                        </p>
                        <p>
                            Além do Pavão-Pavãozinho, também são localizadas em Copacabana as comunidades do Cantagalo, Ladeira dos Tabajaras e Morro dos Cabritos. Por isso, Copacabana revela como um mesmo bairro pode ter duas curvas de contágio muito diferentes. Usando o simulador, descobrimos que as partes de Copacabana com IDH mais alto precisam de um isolamento de 80% (25% do total de pessoas infectadas em sete meses) da população para evitar o espalhamento descontrolado do novo coronavírus. Nas comunidades, o isolamento social necessário é bem maior: 92% (17% do total de pessoas infectadas em sete meses).
                        </p>
                        <p><a [routerLink]="['/casestudy']">Saiba mais clicando aqui</a></p>

                        <h4 class="text-center">Como agir?</h4>
                        <p>
                            Manter as pessoas em casa não é uma tarefa fácil em lugar algum, mas é ainda mais difícil quando as condições de vida estão longe do ideal. O isolamento social exige coordenação de atores da esfera pública, lideranças comunitárias e setor privado. Esta coordenação é ainda mais necessária nas áreas em que o desenvolvimento humano, a densidade demográfica e o acesso a equipamentos públicos agravam o risco de espalhamento da doença.
                        </p>
                        <p>
                            Listamos uma série de medidas que podem ser tomadas em todos os níveis da administração, do governo federal às lideranças locais, passando por Estados e municípios. Muitas dessas propostas são baseadas em práticas já adotadas por coletivos e líderes comunitários. Continuamos colhendo informações a partir de experiências bem-sucedidas, que podem ser replicadas por outras cidades e comunidades do país. 
                        </p>
                        <p><a [routerLink]="['/howtoact']">Clique aqui para conhecer as medidas</a></p>
                    </div>
                    <div class="card">
                        <h4>Redes sociais:</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="fb.me/AcaoCovid19" target="_blank">
                                        <p><i class="fab fa-facebook-square fa-4x"></i></p>
                                        <p>Facebook</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://www.instagram.com/acao_covid/" target="_blank">
                                        <p><i class="fab fa-instagram fa-4x"></i></p>
                                        <p>Instagram</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://twitter.com/AcaoCovid" target="_blank">
                                        <p><i class="fab fa-twitter fa-4x"></i></p>
                                        <p>Twitter</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://www.youtube.com/channel/UC8duZjIo2hNZpc36B9gyZSg/featured" target="_blank">
                                        <p><i class="fab fa-youtube fa-4x"></i></p>
                                        <p>YouTube</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

