<div class="main researcher">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Pesquisadores</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-bg">
                        <p>
                            Somos um grupo de pesquisa interdisciplinar, dedicado ao desenvolvimento de um modelo de simulação multiagentes que incorpora alguns 
                            aspectos relevantes da atual pandemia, como: confinamento, aquisição de imunidade, etc. Temos como objetivo central a elaboração de 
                            conteúdo acadêmico e voltado à divulgação científica (artigos, textos e vídeos), que possa gerar informação relevante para população 
                            no geral (gestores públicos, profissionais de saúde e sociedade civil) sobre a pandemia. Assim como, delinear cenários preditivos, 
                            envolvendo saída do confinamento em diferentes cenários (geográficos, sociais e econômicos).
                        </p>
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <a class="teacher" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4138649Z1">Prof. Dr. José Paulo Guedes Pinto <i class="fas fa-external-link-alt"></i></a>
                                <p>Sistemas complexos, crise econômica, ecologia urbana, economia política, economia da colaboração em massa, modelos dinâmicos, propriedade intelectual.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4592874A0" target="_blank">Dra. Patrícia Camargo Magalhães <i class="fas fa-external-link-alt"></i></a>
                                <p>Pós-Doutoranda na Universidade de Bristol (Inglaterra) com bolsa de pesquisa Marie Curie da União Europeia. Também é vinculada à colaboração LHCb no CERN. Tem experiência na área de Física com ênfase em fenomenologia de Física de Partículas.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4766864A3" target="_blank">Prof. Dr. Carlos da Silva dos Santos <i class="fas fa-external-link-alt"></i></a>
                                <p>Processamento de Imagens, Reconhecimento de Padrões, Análise de Componentes Independentes, Teoria da Informação.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/2650858119455746">Prof. Dr. Leonardo Freire de Mello <i class="fas fa-external-link-alt"></i></a>
                                <p>Planejamento, ambiente e demografia, complexo população-ambiente-consumo, dimensões humanas das mudanças ambientais globais, participação pública nos processos de tomada de decisão.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/6177692858000498" target="_blank">Prof. Dr. Luiz de Siqueira Martins Filho <i class="fas fa-external-link-alt"></i></a>
                                <p>Robótica, satélites artificiais, e controle de sistemas dinâmicos.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/5266918959509002" target="_blank">Profa. Dra. Maria Caramez Carlotto <i class="fas fa-external-link-alt"></i></a>
                                <p>Sociologia da Ciência, da Tecnologia e da Inovação, Sociologia da Educação e da Cultura e Sociologia do conhecimento com ênfase no impacto dos processos de circulação internacional de conhecimento e globalização.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/2290051414790969" target="_blank">Prof. Dr. Demétrio Gaspari Cirne de Toledo <i class="fas fa-external-link-alt"></i></a>
                                <p>Visiting Scholar do Fudan Development Institute, Fudan University, Shanghai, China, outono de 2019. Estudos sobre desenvolvimento, inovação, ciência e tecnologia, política industrial, sociologia política e análise de redes sociais, estudos urbanos e políticas públicas.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/5913369787997553" target="_blank">Prof. Dr. Alexis Saludjian <i class="fas fa-external-link-alt"></i></a>
                                <p>Economia UFRJ. Crescimento e Desenvolvimento Econômico, e Economia Internacional atuando principalmente nos seguintes temas: Desenvolvimento Econômico, Economia Política e História do Pensamento Econômico, Economia Internacional, Integração econômica regional e Teoria econômica.</p>
                            </li>
                            <li>
                                <a class="teacher" href="http://lattes.cnpq.br/0722054902447147" target="_blank">Prof. Dr. Victor Ximenes Marques <i class="fas fa-external-link-alt"></i></a>
                                <p>Filosofia da biologia, filosofia da ciência, filosofia da mente, ontologia, idealismo alemão e a tradição dialética. Tem particular interesse na relação entre as ciências naturais e a filosofia.</p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

