<div class="main researcher">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Sobre</h3>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <p>
                            Somos um grupo de pesquisadores, de várias disciplinas, dedicados a estudar a evolução da Covid-19 no cenário da desigualdade extrema do Brasil. Criamos um modelo de simulação para o avanço 
                            das infecções de acordo com a densidade demográfica e o desenvolvimento humano de cada área. Buscamos angariar e elaborar medidas de combate à pandemia, tendo em vista a disparidade de 
                            condições sociais e econômicas no país.
                        </p>
                    </div>
                    <div class="card">
                        <h5 class="section-title">Contato:</h5>
                        <p>
                            Para comentários, sugestões e colaborações científicas: <a href="mailto:mosaicovid19@gmail.com?subject=Contato%20Equipe%20Ação%20Covid" target="_blank">mosaicovid19@gmail.com</a>
                        </p>
                        <p>
                            Para imprensa e entrevistas: <a href="mailto:comunicamosaico@gmail.com?subject=Imprensa%20Equipe%20Ação%20Covid" target="_blank">comunicamosaico@gmail.com</a>
                        </p>
                        <ul class="list-unstyled">
                            <li><a href="fb.me/AcaoCovid19" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/acao_covid/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                            <li><a href="https://twitter.com/AcaoCovid" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="https://www.youtube.com/channel/UC8duZjIo2hNZpc36B9gyZSg/featured" target="_blank"><i class="fab fa-youtube"></i> YouTube Channel</a></li>
                        </ul>
                    </div>
                    <div class="card">
                        <h5 class="section-title">Equipe:</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/0107630830900915">Alexandre Becker <i class="fas fa-external-link-alt"></i></a>
                                <p>Mestrando em Economia Política Mundial na UFABC, Bacharel em Ciência e Tecnologia e Bacharel em Neurociências pela mesma instituição.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/5913369787997553">Alexis Saludjian <i class="fas fa-external-link-alt"></i></a>
                                <p>Economia UFRJ. Crescimento e Desenvolvimento Econômico, e Economia Internacional atuando principalmente nos seguintes temas: Desenvolvimento Econômico, Economia Política e História do Pensamento Econômico, Economia Internacional, Integração econômica regional e Teoria econômica.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/4671276183191204">Bruna Gaudencio Guimarães <i class="fas fa-external-link-alt"></i></a>
                                <p>MIT MicroMasters in Data, Economics and Development Policy. Bacharelado em Relações Internacionais e Ciências e Humanidades pela UFABC. Consultora de Analytics e pesquisadora em Biossegurança.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4766864A3">Carlos da Silva dos Santos <i class="fas fa-external-link-alt"></i></a>
                                <p>Processamento de Imagens, Reconhecimento de Padrões, Análise de Componentes Independentes, Teoria da Informação.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/7926761314005188">Diana Maritza Segura Angel <i class="fas fa-external-link-alt"></i></a>
                                <p>Doutorado em Ciências pela Universidade de São Paulo, desenvolveu sua pesquisa experimental na multinacional Tongaat Hulett na África do Sul. Áreas de interesse: Sistemas fotovoltaicos, eficiência energética, termodinâmica, física, estatística, análise de dados e mecânica dos fluidos.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/3707731487652877">Diego Soares Viana de Oliveira  <i class="fas fa-external-link-alt"></i></a>
                                <p>Doutor em Humanidades pela Universidade de São Paulo, mestre em Filosofia pela Universidade Paris X - Nanterre, economista pela Universidade de São Paulo. Experiência em comunicação social e filosofia das ciências humanas</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/8582022219085253">Fábio Godoy Ferreira <i class="fas fa-external-link-alt"></i></a>
                                <p>Mestrando em Engenharia de Energia na UFABC. Experiência na área de análise de dados, machine learning e modelos de planejamento/precificação de energia elétrica. </p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/2249781288255030">Fábio Henrique Bittes Terra  <i class="fas fa-external-link-alt"></i></a>
                                <p>Professor da UFABC e do PPGE-UFU. Pesquisador do CNPq. Pesquisa em macroeconomia, política econômica, teoria econômica e economia brasileira.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="#">Giovanna Arícia Dagel Souza <i class="fas fa-external-link-alt"></i></a>
                                <p>Graduanda no Bacharelado em Relações Internacionais pela Universidade Federal do ABC. Apreço e desenvolvimento atual pela área de comunicação digital, especificamente em produção gráfica para redes sociais e design de interfaces.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/0171085587279213">Guilherme Prado Almeida De Souza <i class="fas fa-external-link-alt"></i></a>
                                <p>Mestre em Ciências Humanas e Sociais pela Universidade Federal do ABC na linha de Economia e Desenvolvimento. Áreas de interesse: Economia ecológica, Limites Sociais e Ecológicos do Crescimento, Alternativas Sistêmicas. Constrói o projeto de Economia Solidária Livres Rede de Produção e Consumo Consciente.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4138649Z1">José Paulo Guedes Pinto <i class="fas fa-external-link-alt"></i></a>
                                <p>Sistemas complexos, crise econômica, ecologia urbana, economia política, economia da colaboração em massa, modelos dinâmicos, propriedade intelectual.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/2650858119455746">Leonardo Freire de Mello <i class="fas fa-external-link-alt"></i></a>
                                <p>Planejamento, ambiente e demografia, complexo população-ambiente-consumo, dimensões humanas das mudanças ambientais globais, participação pública nos processos de tomada de decisão.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/6177692858000498">Luiz de Siqueira Martins Filho <i class="fas fa-external-link-alt"></i></a>
                                <p>Robótica, satélites artificiais, e controle de sistemas dinâmicos.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/4559907236737788">Maira Begalli <i class="fas fa-external-link-alt"></i></a>
                                <p>Doutora em Planejamento e Gestão do Território pela UFABC. Estuda mudanças socioecológicas e ecologia de populações humanas no Antropoceno envolvendo: vulnerabilidade, resiliência e adaptação.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://lattes.cnpq.br/8096747745105128">Maria Carolina Maziviero  <i class="fas fa-external-link-alt"></i></a>
                                <p>Doutora em Arquitetura e Urbanismo - Fundamentos Sociais do Urbanismo e da Urbanização (FAUUSP). Professora do Departamento de Arquitetura e Urbanismo da Universidade Federal do Paraná (DAU-UFPR). </p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="">Pamella Gaiguer Santos <i class="fas fa-external-link-alt"></i></a>
                                <p>Bacharel em Sistemas de Informação (Mackenzie/SP). Programação Front-End, UX (User Experience) e UI (User Interface). </p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4592874A0" target="_blank">Patrícia Camargo Magalhães <i class="fas fa-external-link-alt"></i></a>
                                <p>Pós-Doutoranda na Universidade de Bristol (Inglaterra) com bolsa de pesquisa Marie Curie da União Europeia. Também é vinculada à colaboração LHCb no CERN. Tem experiência na área de Física com ênfase em fenomenologia de Física de Partículas.</p>
                            </li>
                            <li>
                                <a class="researcher" target="_blank" href="#">Rudá Lourenço Cabral Fernandez <i class="fas fa-external-link-alt"></i></a>
                                <p>Graduando no Bacharelado de Ciência e Tecnologia pela Universidade Federal do ABC, cursando matérias do curso de Engenharia de Gestão. Experiência na área de comunicação por mídias sociais e análise de dados de processos produtivos.</p>
                            </li>
                        </ul>
                    </div>                        
                    
                </div>
            </div>
        </div>
    </div>
</div>