//big fixes of the template
//main-red: #EB392C
$red-main:                  rgba(#EB392C, .98);
$red-light:                  rgba(#F73C2F, .98);
$red-dark:                  rgba(#AB2A20, .98);


/*html tags*/
body{
    a{
        font-weight: 700;
        color: $red-main;
        
        &:hover, &:focus{
            text-decoration: underline;
            color: $red-main;
            cursor:hover;
        }
    }
}
pdf-viewer {
    display: block;
    height: 40vh;
}
.control-pdf-buttons{
    text-align: center;
    .pdf-button{
        border-radius: 0;
        background-color: $red-main;
        border-color: $red-main;
    }
}
button{
    &:focus{
        outline: none;
    }
}
textarea{
    resize: none;
}
.dropdown .dropdown-menu .dropdown-item:first-child a,
.dropdown .dropdown-menu .dropdown-item:first-child,
.dropdown .dropdown-menu .dropdown-item:last-child a,
.dropdown .dropdown-menu .dropdown-item:last-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, 
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:focus{
    background-color: $red-main;
    color: white;
    font-weight: 400;
}
.dropdown .dropdown-menu .dropdown-item {
    margin-top: 1px;
}

.card{
    border-radius: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border: 0 none;
    padding: 20px;
    
    h4, h3, h5{
        font-weight: 600;
        color: $red-main;
        // text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 0px;
    }
    .box-social-media{
        p{
            text-align: center;
        }
    }
    
}
.navbar{
    .navbar-brand{
        padding: 5px;
        .logo-web{
            height: 9vh;
        }
    }
    .navbar-nav{
        .nav-item{
            padding: 10px 15px;
            
            &:last-child{
                padding: 10px 0 10px 15px;
            }
            
            .nav-link{
                margin: 0;
                padding: 0;
                line-height: 2.3;
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .dropdown-menu{
            border-radius: 0;
        }
    }
}
.footer{
    .logo-apoio{
        height: 10vh;
    }
    
    .credits, .footer-nav {
        line-height: 120px;
    }
    .copyright {
        margin: 15px 15px;
    }
}
/* pages */
.main-header{
    margin-bottom: 0px;
    padding: 25px 0;
    
    h3{
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
    }
}
.home{
    p{
        margin-bottom: 15px;
    }
}
.copacabana{
    p{
        text-align: justify;
    }
    .table1{
        caption{
            padding-bottom: 0;
            padding-top: 0;
        }
        thead tr th,tbody tr td{
            text-align: center;
        }
    }
    .table2{
        caption{
            padding-bottom: 0;
            padding-top: 0;
        }
        thead tr th,tbody tr td, tbody tr th{
            text-align: center;
        }
    }
    .references{
        li{
            margin: 15px 0;
        }
    }
}
.dash{
    .simulador{
        height: 95vh;
    }
    .card{
        overflow-y: scroll;
        overflow-x: hidden;
        table{
            font-size: 12px;
        }
    }
    .table-ivcovid-rj{
        // height: 95vh;
        // ola
    }
}
.methodology{
    .methodology-img{
        width: 80%;
    }
    .methodology-vertical{
        height: 100vh;
    }
    .equation{
        font-weight: 900;
    }
}
.aboutus{
    .section-title{
        color: $red-main;
        font-weight: 600;
        font-size: 17px;
        text-transform: uppercase;
    }
    .researcher{
        text-transform: uppercase;
    }
    .teamlist{
        p{
            text-align: justify;
        }
    }
}
.howtoact{
    p{
        text-align:justify;
    }
    ol > li{
        margin: 10px 0;
    }
    .pyramid{
        width: 40vw;
    }
}
.statistics{
    .accordion>.card>.card-header{
        padding: 0;
        background-color: transparent;
        border-bottom: none;
        
        .btn.btn-link{
            padding: 0;
            
            h4{
                margin-bottom: 0;
            }
        }
    }
    #riodejaneiro{
        width: 70vw;
        height: 1000px;
    }
}
.publicity{
    .publicity-title{
        display: inline;
        color: $red-main;
        font-weight: 600;
        font-size: 15px;
    }
    ul > li > a > p{
        font-size: 12px;
    }
    .list-unstyled > li{
        margin: 10px 0;
    }
}
.article-note{
    background-color: white;
    padding: 5px 25px;
    
    a {
        word-wrap: break-word; 
        max-width:300px;
    }
    
    h4{
        font-weight: 400;
        margin: 15px 0;
    }
    p{
        margin: 20px 0;
        text-align: justify;
    }
    pdf-viewer {
        display: block;
        height: 50vh;
    }
    .control-pdf-buttons{
        text-align: center;
        
        .pdf-buttons-paginator{
            display: block;
            border:1px solid #f0f;
        }
        .pdf-button{
            border-radius: 0;
            background-color: $red-main;
            border-color: $red-main;
        }
    }
}
.howtouse{
    text-align: justify;
    
    a{
        word-wrap: break-word; 
        max-width:300px;
    }
    
    .card h4, .card h3{
        font-weight: 600;
        color: $red-main;
        // text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    strong{
        font-weight: 500;
        color: $red-dark;
    }
    
}
.publications{
    .list-group-item {
        border: none;
        margin-bottom: 5px;
        
        &-action{
            color: #66615b;
        }
        
        &:active, &.active{
            background-color: $red-main;
            color: white;
        }
        
        &:first-child, &:last-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        
    }
}

@media only screen and (max-width: 600px) {
    .navbar{
        .navbar-brand{
            .logo-web{
                height: 8vh;
            }
        }
    }
    .main-header{
        padding: 10px 0;
        h3{
            font-size: 28px;
        }
    }
    .publications{
        .list-group{
            margin-bottom: 15px;
        }
    }
    .statistics{
        #riodejaneiro{
            width: 75vw;
            height: 280px;
        }
    }
    .howtoact .pyramid {
        width: 85vw;
    }
    .footer .logo-apoio {
        height: 7vh;
    }
}

