<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav footer-link">
                <ul>
                    <li><a>Apoio:</a></li>
                    <li><a href="https://fundacaotidesetubal.org.br/" target="_blank"><img class="logo-apoio" src="./assets/img/tidesetubal_logo_vertical.png" alt="tide setubal"></a></li>
                    <li><a href="http://www.ufabc.edu.br/" target="_blank"><img class="logo-apoio" src="./assets/img/logotipo-ufabc-pb.png" alt="ufabc"></a></li>
                    <li><a href="#" target="_blank"><img class="logo-premios" src="./assets/img/parceiro_bndes.png" alt="parceiro_bndes"></a></li>
                    <li><a href="#" target="_blank"><img class="logo-premios" src="./assets/img/parceiro_enap.png" alt="enap"></a></li>

                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Ação Covid19 &copy; Atualizado em: {{ today | date: 'dd/MM/yyyy'}}, feito por <a href="http://pamgaiguer.github.io/pamgaiguer" target="_blank">Pam Gaiguer</a>
                    <!-- com <i class="fa fa-heart heart"></i>  -->
                </span>
            </div>
        </div>
    </div>
</footer>
