<div class="article-note">
    <h4>
        Dados do prefeito de São José dos Campos são questionáveis 
    </h4>
    <em>
        Fim da quarentena em SJC: a pseudociência a serviço da morte
    </em>
    
    
    <p>
        No dia 17 de Abril de 2020, a prefeitura de São José dos Campos, maior cidade de região do Vale do Paraíba no Estado de São Paulo publicou decreto que libera o funcionamento de estabelecimentos comerciais nas principais ruas do comércio e nos shoppings.
    </p>
    <p>
        O prefeito Felício Ramuth alega que a decisão foi baseada na ciência, em especial numa pesquisa que teve como amostra 450 moradores da cidade de São José na qual constatou que 3,11% destes já teriam contraído o COVID-19 e, portanto, teriam os anticorpos da doença (estariam imunes). Ao fazer uma simples multiplicação da amostra, o prefeito afirma que 23 mil pessoas (de um universo de 600 mil) já teriam os anticorpos. Além disso, ele argumenta, usando os dados de óbitos na cidade (embora ainda não tenhamos acesso ao Datasus de março) que São José apresenta uma baixa mortalidade, cita uma média de 5 dias de internação na UTI,  e que a cidade possui atualmente uma taxa baixa de ocupação dos leitos de UTI (8% estariam sendo utilizados).
    </p>     
    
    <p>
        É alarmante o discurso do prefeito Felício Ramuth, que se utiliza do mantra "Ciência para preservar vidas", para justificar uma medida política que atenta contra a vida das pessoas e que vai de encontro com o decreto do Governador João Doria. 
    </p>
    <p>
        Do ponto de vista da ciência existem vários problemas na afirmação do Prefeito:
    </p>
    <ol>
        <li>    
            Em primeiro lugar, existe uma série de exigências processuais que certificam a qualidade de uma pesquisa e precisam ser compartilhadas em conjunto com os resultados, o que não ocorreu nesse caso. Dentre elas, citam-se, a amostragem e o recorte de pessoas que participaram da pesquisa.  
            Uma amostra de 450 pessoas em um universo de 600 mil configura 0.075% da população. Para obter algum estudo confiável com essa baixa aquisição de dados, o universo das diferentes regiões da cidade precisam ser representados proporcionalmente buscando abarcar as diferentes realidades sociais da cidade. 
            O viés amostral é uma possível fonte de erros, isso ocorre quando a amostra é escolhida de forma a privilegiar alguns indivíduos com perfil específico (bairro, faixa etária, entre outros) aumentando a probabilidade de serem incluídos na amostra em detrimento de outros. Erros na amostragem são em geral considerados como erros sistemáticos. 
        </li>
        <li>
            Além da amostragem, outra fonte potencial de erro é a qualidade dos testes aplicados para COVID-19. Todo teste vai apresentar uma taxa de falsos negativos (pessoas doentes identificadas como saudáveis) e uma taxa de falsos positivos (pessoas saudáveis identificadas como doentes). Os testes rápidos aplicados em São José dos Campos identificam a presença de anticorpos e são menos confiáveis do que os testes do tipo “PCR”, que identificam o material genético do vírus. Sem a divulgação dos índices de erro dos testes aplicados, não é possível avaliar o grau de incerteza associado ao valor 3,11% de pessoas expostas ao vírus. No caso da referida pesquisa, a falta de conhecimento sobre esses fatores técnicos compromete a confiabilidade da pesquisa.
        </li>
        <li>
            Outro fator que está ausente nas declarações do prefeito é a já reconhecida subnotificação de casos e o atraso nos resultados dos poucos testes que têm sido realizados. Ainda assim, somente com os dados oficiais apresentados, nota-se que a curva de infectados ainda segue na ascendente, ou seja, ela ainda não atingiu o máximo de contaminação. O número de óbitos ainda é baixo (3) segundo os dados oficiais, mas acompanhando o crescimento da curva de casos, esse número ainda deve aumentar. 
        </li>
    </ol>
    <figure>
        <img src="./assets/articles/img-article1.png" class="figure-img img-fluid">
        <figcaption>
            Figura 1: Número de casos de Covid-19 em São José dos Campos por dia reportados entre o período de 17 de Março e 18 de Abril. <br>
            Fonte: <a href="https://www.sjc.sp.gov.br/servicos/saude/coronavirus-acoes-em-sao-jose/informe-epidemiologico/" target="_blank">https://www.sjc.sp.gov.br/servicos/saude/coronavirus-acoes-em-sao-jose/informe-epidemiologico/</a>
        </figcaption>
    </figure>
    <p>
        Uma abertura precipitada da quarentena pode elevar o contágio a níveis alarmantes, e poderemos ver se repetir os quadros da pandemia apresentados em países europeus que demoraram a optar pela quarentena, notadamente na Itália, na França, na Espanha, Reino Unido e Suécia.
    </p>
    <p>
        É grave também o uso indevido de pesquisas científicas para dar sustentação ao discurso do prefeito e de muitos outros governantes, que apostam na imunidade de longo prazo para definir suas ações. 
    </p>
    <p>
        Aliás, a visão da prefeitura foi confirmada pelo secretário municipal de Saúde, Danilo Stanzani, em entrevista ao telejornal Bom Dia Vanguarda (da sucursal da Globo em São José), no dia 21 de abril,  na qual  declarou que é preciso aumentar o percentual de infectados pelo novo coronavírus para que a população crie anticorpos. Há um extenso debate sobre a aquisição  da imunidade, não é possível saber se as pessoas que de fato pegaram covid-19, sintomáticos ou não, recuperadas ou não, são imunes e não podem pegar o vírus novamente (<a href="https://www.nytimes.com/2020/04/13/opinion/coronavirus-immunity.html" target="_blank">http://www.nytimes.com/2020/04/13/opinion/coronavirus-immunity.html</a>) 
    </p>
    <p>
        <a href="https://noticias.uol.com.br/ultimas-noticias/reuters/2020/04/17/oms-ve-poucos-sinais-de-imunidade-de-grupo-para-covid-19-diz-que-esta-ajudando-brasil-a-adquirir-testes.htm" target="_blank">https://noticias.uol.com.br/ultimas-noticias/reuters/2020/04/17/oms-ve-poucos-sinais-de-imunidade-de-grupo-para-covid-19-diz-que-esta-ajudando-brasil-a-adquirir-testes.htm</a>) Embora essa seja uma questão central em todas as políticas de saída da quarentena, os dados sobre a imunidade ao vírus ainda são recentes para que se possa afirmar a sua extensão. Já foram divulgados casos na literatura científica especializada sobre casos de reinfecção com o novo coronavírus. Ou seja, ainda sequer alcançamos o ápice do contágio e o prefeito já aposta na imunização, baseando-se em uma pesquisa com fraco rigor científico e que se referencia em 3,11% de pessoas expostas ao vírus. 
    </p>
    <p>
        Outro fator ignorado na análise do prefeito é a recente pesquisa científica publicada dia 17 de Abril pela UNESP (https://www.saopaulo.sp.gov.br/noticias-coronavirus/estudo-da-unesp-preve-pandemia-mais-forte-no-interior-de-sp-em-tres-semanas/) na qual modelos mostram que o pico de contaminação no interior de São Paulo acontecerá em 3 semanas. Isso porque há um atraso em relação à capital devido ao tempo em que pessoas-vetores levam o vírus até cidades pólos como São José dos Campos, que é a porta de entrada para o Vale do Paraíba, o Litoral Norte Paulista, a região Sul de Minas Gerais, e ponto de passagem rodoviária entre Rio e São Paulo, as duas principais cidades do maiores, e que concentram o maior número absoluto de casos.  
    </p>
    <p>
        Infelizmente, a omissão do prefeito diante de pesquisas científicas sérias e modelos que mostram que a curva epidêmica do Estado ainda está em fase de crescimento pode significar uma aposta de altíssimo risco para a saúde da população da região, com a possibilidade de fazer aumentar rapidamente os números da pandemia, e principalmente o de óbitos (que virá pela principal doença do coronavírus, a síndrome respiratória aguda grave, e também por consequência da saturação do sistema de saúde local quando os casos se aumentarem) a exemplo de experiências internacionais desastrosas como a Itália e Espanha. Como diz Átila Iamarino: "Se você não para voluntariamente e controladamente, paga um preço caro. Ganha uma semana ou duas e perde muito, muito mais."
    </p>
    
    <p>
        Nós, pesquisadoras e pesquisadores estamos trabalhando em simulações e discussões sobre a evolução da pandemia. Como cientistas que desenvolvem pesquisa com seriedade, gostaríamos de ter acesso aos detalhes dessa pesquisa, como dados e notificações, para avaliar se o prefeito está tomando decisões com base científica adequada ou se isto é apenas uma decisão política, um achismo. É  urgente eliminar a dicotomia entre o debate político-econômico da Saúde e o bem estar da população. A depender da resposta da prefeitura, iniciaremos um debate necessário com as autoridades e com pesquisadores de instituições acadêmicas regionais, a fim de evitar uma verdadeira tragédia humanitária na região.
    </p>
    <p>
        Assinam essa nota todas e todos os pesquisadores dos grupos:
    </p>
    
    <p>
        Ação Interdisciplinar COVID-19 <a href="https://simulacovid.github.io/covid19/index.html" target="_blank">(https://simulacovid.github.io/covid19/index.html)</a>
<br>
COVID-19 BRASIL <a href="https://ciis.fmrp.usp.br/covid19/" target="_blank">(https://ciis.fmrp.usp.br/covid19/)</a>

    </p>
    
</div>