//big fixes of the template
//main-red: #EB392C
$red-main:                  rgba(#EB392C, .98);


button{
    &:focus{
        outline: none;
    }
}
textarea{
    resize: none;
}

.main-header{
    margin-bottom: 30px;
    padding: 25px 0;
    
    h3{
        letter-spacing: +2px;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
}

.navbar{
    .navbar-brand{
        padding: 5px;
        .logo-web{
            width: 15vw;
        }
    }
}

.researcher{
    ul{
        li{
            a{
                font-weight: 700;
                color: $red-main;

                &:hover, &:focus{
                    text-decoration: underline;
                }
            }
        }
    }
}

.volunteer{
    p{
        text-align: justify;
    }
    a{
        font-weight: 700;
        color: $red-main;

        &:hover, &:focus{
            text-decoration: underline;
        }
    }
    ul{
        li{
            margin: 10px 0;
            strong{
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-header{
        padding: 10px 0;
        h3{
            font-size: 28px;
        }
    }
}

