//big fixes of the template
//main-red: #EB392C
$red-main:                  rgba(#EB392C, .98);
$red-light:                  rgba(#F73C2F, .98);
$red-dark:                  rgba(#AB2A20, .98);

.netlogo-powered-by{
    display: none !important;
}

body{
    a{
        font-weight: 700;
        color: $red-main;
        
        &:hover, &:focus{
            text-decoration: underline;
            color: $red-main;
            cursor:hover;
        }
    }
}

button{
    &:focus{
        outline: none;
    }
}
textarea{
    resize: none;
}

.main-header{
    margin-bottom: 30px;
    padding: 25px 0;
    
    h3{
        letter-spacing: +2px;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
}

.navbar{
    .navbar-brand{
        padding: 5px;
        .logo-web{
            width: 15vw;
        }
    }
}
.dash{
    .simulador{
        border:1px solid #f0f;
        height: 115vh;
    }
}
.researcher{
    .teacher{
        text-transform: uppercase;
    }
}

.publicity{
    .publicity-title{
        display: inline;
        color: $red-main;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
    }
    ul > li > a > p{
        font-size: 12px;
    }
    .list-unstyled > li{
        margin: 10px 0;
    }
}
.article-note{
    background-color: white;
    padding: 5px 25px;

    h4{
        font-weight: 400;
        margin: 15px 0;
    }

    p{
        margin: 20px 0;
        text-align: justify;
    }
    pdf-viewer {
        display: block;
        height: 50vh;
    }
    .control-pdf-buttons{
        text-align: center;

        .pdf-buttons-paginator{
            display: block;
            border:1px solid #f0f;
        }
        .pdf-button{
            border-radius: 0;
            background-color: $red-main;
            border-color: $red-main;
        }
    }
}
.main-bg{
    background-color: white;
    padding: 20px 20px;
}
.howtouse{
    pdf-viewer {
        display: block;
        height: 40vh;
    }
    .control-pdf-buttons{
        text-align: center;
        .pdf-button{
            border-radius: 0;
            background-color: $red-main;
            border-color: $red-main;

        }
    }
}
.notes, .articles{
    .card{
        border-radius: 0;
        height: 35vh;
        
        &:hover{
            cursor: pointer;
        }
        
        .card-body{
            .card-title{
                text-transform: uppercase;
                font-weight: 600;
                color: $red-main;
                margin-bottom: 2rem;
                text-align: center;;
            }
            .card-text{
                font-weight: 300;
            }
        }
        .card-footer{
            padding: .75rem 1.25rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-header{
        padding: 10px 0;
        h3{
            font-size: 28px;
        }
    }
}

