//big fixes of the template
//main-red: #EB392C
$red-main:                  rgba(#EB392C, .98);
$red-light:                  rgba(#F73C2F, .98);
$red-dark:                  rgba(#AB2A20, .98);

body{
    a{
        font-weight: 700;
        color: $red-main;
        
        &:hover, &:focus{
            text-decoration: underline;
            color: $red-main;
            cursor:hover;
        }
    }
}
pdf-viewer {
    display: block;
    height: 40vh;
}
.control-pdf-buttons{
    text-align: center;
    .pdf-button{
        border-radius: 0;
        background-color: $red-main;
        border-color: $red-main;
        
    }
}

button{
    &:focus{
        outline: none;
    }
}
textarea{
    resize: none;
}

.main-header{
    margin-bottom: 30px;
    padding: 25px 0;
    
    h3{
        letter-spacing: +2px;
        font-weight: 700;
        font-size: 50px;
        text-transform: uppercase;
    }
}

.navbar{
    .navbar-brand{
        padding: 5px;
        .logo-web{
            height: 9vh;
        }
    }
}
.footer{
    .logo-apoio{
        height: 10vh;
    }

    .credits, .footer-nav {
        line-height: 120px;
    }

}
.dash{
    .simulador{
        height: 115vh;
        margin-top: 50px;
    }
}
.researcher{
    .teacher{
        text-transform: uppercase;
    }
}

.publicity{
    .publicity-title{
        display: inline;
        color: $red-main;
        font-weight: 600;
        font-size: 15px;
    }
    ul > li > a > p{
        font-size: 12px;
    }
    .list-unstyled > li{
        margin: 10px 0;
    }
}
.article-note{
    background-color: white;
    padding: 5px 25px;
    
    a {
        word-wrap: break-word; 
        max-width:300px;
    }
    
    h4{
        font-weight: 400;
        margin: 15px 0;
    }
    p{
        margin: 20px 0;
        text-align: justify;
    }
    pdf-viewer {
        display: block;
        height: 50vh;
    }
    .control-pdf-buttons{
        text-align: center;
        
        .pdf-buttons-paginator{
            display: block;
            border:1px solid #f0f;
        }
        .pdf-button{
            border-radius: 0;
            background-color: $red-main;
            border-color: $red-main;
        }
    }
}
.main-bg{
    background-color: white;
    padding: 20px 20px;
}
.howtouse{
    text-align: justify;
    
    a{
        word-wrap: break-word; 
        max-width:300px;
    }
    
    .main-bg h4, .main-bg h3{
        font-weight: 600;
        color: $red-main;
        // text-transform: uppercase;
        margin-bottom: 10px;
    }
    strong{
        font-weight: 500;
        color: $red-dark;
    }
    
}
.publications{
    .list-group-item {
        border: none;
        margin-bottom: 5px;
        
        &-action{
            color: #66615b;
        }
        
        &:active, &.active{
            background-color: $red-main;
            color: white;
        }
        
        &:first-child, &:last-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        
        
    }
}

@media only screen and (max-width: 600px) {
    .navbar{
        .navbar-brand{
            .logo-web{
                height: 8vh;
            }
        }
    }
    .main-header{
        padding: 10px 0;
        h3{
            font-size: 28px;
        }
    }
    .publications{
        .list-group{
            margin-bottom: 15px;
        }
    }
    .footer .logo-apoio {
        height: 7vh;
    }
}

